<div ng-include src="'views/messages.html'"></div>

<main>
<h1>{{ setTitle( translate('ERROR.TITLE') ) }}</h1>

<p>{{ 'ERROR.INTRO' | translate }}</p>

<ul>
	<li>{{ 'ERROR.SUGGESTION1' | translate }}</li>
	<li ng-bind-html=" 'ERROR.SUGGESTION2' | translate : {
	    link_back: '#!/ onclick=window.history.back()'
	}"></li>
	<li ng-bind-html=" 'ERROR.SUGGESTION3' | translate : {
	    link_format: 'https://github.com/w3c/wcag-em-report-tool/blob/master/docs/EARL%2BJSON-LD.md'
	}"></li>
</ul>

<p ng-bind-html=" 'ERROR.BUG_REPORT' | translate : {
    link_github: 'https://github.com/w3c/wcag-em-report-tool/blob/master/docs/contribute.md'
}"></p>

</main>
