<footer lang="en" ng-controller="FooterCtrl"
aria-label="Document info" class="page-footer">
  <div>
    <p><strong>Feedback: We welcome ideas, bug reports, and comments</strong> via <a href="https://github.com/w3c/wcag-em-report-tool/issues">GitHub</a> or e-mail to <a href="mailto:wai-eo-editors@w3.org">wai-eo-editors@w3.org</a> (a publicly archived list) or <a href="mailto:wai@w3.org">wai@w3.org</a> (a WAI staff-only list).</p>
    <p><strong>Status:</strong> Version {{pkg.version}}, {{pkg.buildDate}}</p>
    <p><strong>Development Team:</strong> Shadi Abou-Zahra, W3C/WAI (Project Lead) and Roel Antonisse, <a href="https://www.accessibility.nl/english">accessibility.nl</a> (Development). Previously Wilco Fiers (Design and development). <strong>Contributors:</strong> <a href="http://www.w3.org/People/Shawn/">Shawn Lawton Henry</a> and the <a href="http://www.w3.org/WAI/EO/">Education and Outreach Working Group</a>.</p>
    <p>Initially developed with support from the <a href="http://www.w3.org/WAI/ACT/">WAI-ACT Project</a>, and updated with support of the <a href="http://www.w3.org/WAI/Tools/">WAI-Tools Project</a>, co-funded by the European Commission (EC).</p>
    <div class="footer-nav">
      <p>[<a href="http://www.w3.org/WAI/sitemap.html">WAI Site Map</a>] [<a href="http://www.w3.org/WAI/sitehelp.html">Help with WAI Website</a>] [<a href="http://www.w3.org/WAI/search.php">Search</a>] [<a href="/WAI/contacts">Contacting WAI</a>]</p>
    </div>
    <div class="copyright">
      <p><a rel="Copyright" href="http://www.w3.org/Consortium/Legal/ipr-notice#Copyright">Copyright</a> © <a href="http://www.w3.org/"><abbr title="World Wide Web Consortium">W3C</abbr></a><sup>®</sup> (<a href="http://www.csail.mit.edu/"><abbr title="Massachusetts Institute of Technology">MIT</abbr></a>, <a href="http://www.ercim.org/"><abbr title="European Research Consortium for Informatics and Mathematics">ERCIM</abbr></a>, <a href="http://www.keio.ac.jp/">Keio</a>, <a href="http://ev.buaa.edu.cn/">Beihang</a>) <a href="/Consortium/Legal/ipr-notice">Usage policies apply</a>.</p>
    </div><!-- ends copyright -->
  </div>
</footer>
