<ul ng-controller="StepButtonsCtrl"
    class="nav nav-pills step-buttons">
  <li ng-if="previousStep">
    <button ng-click="previousStep()" class="btn btn-primary-invert">
      <span class="glyphicon glyphicon-chevron-left"></span>
      {{ 'NAV.PREV_STEP' | translate}}:
      {{ 'NAV.' + previousStepName | translate}}
  </button></li>

  <li ng-if="nextStep" class="pull-right">
    <button ng-click="nextStep()" class="btn btn-primary">
      {{ 'NAV.NEXT_STEP' | translate}}:
      {{ 'NAV.' + nextStepName | translate}}
      <span class="glyphicon glyphicon-chevron-right"></span>
  </button></li>
</ul>