<div>
  <earl-assert ng-repeat="assert in asserts"
  assert="assert" options="opt" class="appear">

    <div class="col-sm-4 col-md-3 subject-type">{{ 'AUDIT.RESULTS_FOR' | translate }}:</div>

    <div class="col-sm-8 col-md-9" ng-if="opt.editable">

      <div class="pull-right">

        <button ng-click="transferConfirm = !transferConfirm"
        type="submit" class="glyphicon glyphicon-transfer">
          <span class="sr-only">{{ 'AUDIT.BTN_TRANSFER_MACRO_ASSERT' | translate }}</span>
        </button>
        <div class="popover left confirm-transfer" ng-show="transferConfirm">
          <span class="arrow"></span>
          <div class="popover-inner">
            <div class="popover-content ng-binding">
              {{ 'AUDIT.CONFIRM_TRANSFER_MACRO_RESULT' | translate }}
              <a href="" ng-click="transferMacroData(assert)">{{ 'COMMON.YES' | translate }}</a> /
              <a href="" ng-click="transferConfirm = false">{{ 'COMMON.NO' | translate }}</a>
            </div>
          </div>
        </div>

        <button ng-click="removeConfirm = !removeConfirm"
        type="submit" class="glyphicon glyphicon-trash">
          <span class="sr-only">{{ 'AUDIT.BTN_REMOVE_MACRO_ASSERT' | translate }}</span>
        </button>
        <div class="popover left confirm-remove" ng-show="removeConfirm">
          <span class="arrow"></span>
          <div class="popover-inner">
            <div class="popover-content ng-binding">
              {{ 'AUDIT.CONFIRM_REMOVE_RESULT' | translate }}
              <a href="" ng-click="removeAssert(assert)">{{ 'COMMON.YES' | translate }}</a> /
              <a href="" ng-click="removeConfirm = false">{{ 'COMMON.NO' | translate }}</a>
            </div>
          </div>
        </div>

      </div>
      <page-select pages="assert.subject"></page-select>
    </div>

    <div class="col-sm-8 col-md-9" ng-if="!opt.editable">
      <em ng-bind="getAllTitles(assert)"></em>
    </div>

  </earl-assert>
</div>