<div>
  <earl-assert ng-repeat="assert in asserts"
  value="assert.result" options="opt" class="appear">

    <div class="col-xs-12">
      {{:: 'AUDIT.RESULTS_FOR' | translate}}:
      <em ng-bind="assert.subject[0].displayHandle()"></em>

      <button ng-if="opt.editable" ng-click="createMacro(assert)"
      type="submit" class="glyphicon glyphicon-copy pull-right">
        <span class="sr-only">{{ 'AUDIT.BTN_RESULT_COPY' | translate }}</span>
      </button>

    </div>

  </earl-assert>
</div>