<div>
  <datalist id="pagehandles_{{$id}}">
    <option ng-repeat="samplePage in unselectedPages"
    value="{{samplePage.displayHandle()}}">{{samplePage.displayHandle()}}</option>
  </datalist>

  <button ng-repeat="page in pages"
  type="button" class="tag label"
  tooltip-animation="false"
  tooltip="{{page.description}}" tooltip-trigger="focus blur mouseenter mouseleave"
  title="{{page.description}}" ng-click="removePage(page)">
    {{page.handle}}&nbsp;<span class="glyphicon glyphicon-remove"></span>
    <span class="sr-only">, {{:: 'AUDIT.CLICK_TO_DELETE' | translate }}</span>
  </button>

  <input type="text" ng-model="newPage" class="taginput"
  shy-placeholder="'AUDIT.LABEL_PAGE_HANDLE' | translate"
  title="{{ 'AUDIT.LABEL_PAGE_HANDLE' | translate }}"
  list="pagehandles_{{$id}}" ng-change="addPageToAssert()" />

</div>