@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_mixins.scss";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss";

.appear,
.appear-tall {

  &.ng-enter,
  &.ng-leave {
    @include transition(200ms linear all);

    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
  }
}


.reporter-view {

  &.ng-enter,
  &.ng-leave {
    @include transition(200ms linear opacity);
  }

  /* When leaving, put the element in the same place, but don't let it take
    up screen space. This is for the new view */
  &.ng-leave {/* starting animations for enter */
    position: absolute;
    left: 50%;

    @include translate(-50%, 0);
  }

  &.ng-leave, 
  &.ng-enter.ng-enter-active {

    /* terminal animations for leave */
    opacity: 1;
  }

  &.ng-enter, 
  &.ng-leave.ng-leave-active {

    /* terminal animations for leave */
    opacity: 0;
  }
}

.appear,
.appear-tall {

  &.ng-enter,
  &.ng-leave.ng-leave-active {

    /* terminal animations for leave */
    opacity: 0;
    max-height: 0;
  }
}

.appear.ng-leave, /* starting animations for leave */
.appear.ng-enter.ng-enter-active {

  /* terminal animations for enter */
  opacity: 1;
  max-height: 60px;
}

.appear-tall.ng-leave, /* starting animations for leave */
.appear-tall.ng-enter.ng-enter-active {

  /* terminal animations for enter */
  opacity: 1;
  max-height: 400px;
}
