@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_mixins.scss";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss";

#final_report {
    border: solid 2px $brand-primary;
    padding: 1em;
    border-radius: 10px;
}

table {
    input[type=text] {
        width:100%;
    }
}

.no-selection {
    text-align:center;
    font-style:italic;
}
.key-value-group, .no-selection {
    text-align: left;
    line-height: 1.8em;
    text-indent: 1em;
}


.panel.panel-primary .panel-heading {
    color:white;
}

.to-top {
    text-align: right;
    margin-top: -18px;
    margin-bottom:-10px;
    a {
        text-decoration: underline;
        padding:0 5px;
    }
}
.download-link {
    min-width:300px;
}

.alert.alert-info.infobox {
    margin-top:5px;
    margin-bottom:10px;
}

.key-value-group {
    margin-bottom:22px;
}

.step-buttons {
    padding: .5em .5em 0;
    margin-top: 1.5em;
    border-top: solid 2px #DDD;
}

.btn.btn-primary-invert {
    background:white;
    border:2px solid #2570b0;
    color:#2570b0;
    &:focus, &:hover {
        border-color:#1e5b8e;
        color:#1e5b8e;
    }
}

.confirm-transfer,
.confirm-remove {
    left: auto;
    display:block;
}
.confirm-remove {
    top: -20px;
    right:55px;
}
.confirm-transfer {
    right:85px;
    top:-30px;
}

.sample {
    padding:0;
    margin:0;
    list-style:none;
    li {
        padding:0;
        border-bottom:1px $navbar-default-border solid;
        background:$body-bg;
        @include transition(100ms linear background);
        position:relative;

        a {
            position: absolute;
            top: 8px;
            right: 6px;
        }
        label {
            display: block;
            margin-right: 20px;
            padding: 5px 10px 5px 20px;
            margin-bottom: 0;
            text-indent:-10px;
        }
        .tested {
            text-decoration: line-through;
            border-bottom:1px
        }
    }
    li.active {
        background:#E8E8E8;
        border-bottom-color:#DDD;
    }
}


.criterion-btn-group {
    border-bottom:solid 1px $navbar-default-border;
    background:$navbar-default-bg;
    width:100%;
}

h3 .collapse-button {
    color: $link-hover-color;
}

.collapse-button {
    display:block;
    border-bottom:solid 1px $navbar-default-border;
    .glyphicon {
        font-size:$font-size-base;
    }
    &:hover, &:focus {
        border-bottom-color: darken($navbar-default-border, 15%);
    }
}

.save-panel {
    text-align:center;
    max-width:500px;
}

.form-group-inline {
    position:relative;
    legend {
        font-weight: bold;
        margin-bottom: 5px;
        font-size: $font-size-base;
    }
    .form-block {
        padding: 5px 0px 5px 15px;
    }
    @media (max-width: $screen-xs-max) {
        margin-top:10px;

        .remove-button {
            position:absolute;
            top:0;
            right:15px;
            margin-top: -10px;
        }
        .right-col {
            padding-right:15px;
        }
    }
    label {
        font-weight:normal;
    }
    .form-control {
        padding: 3px 6px;
        height:auto;
    }
}
.form-block-head {
    padding:2px 0 0;
    font-weight:bold;
}


select.result-select,
textarea.expanding {
    width:100%;
    @include transition(200ms linear max-height);
}
select.result-select,
input.taginput,
textarea.expanding {
    height:1.7em;
    max-height:1.7em;
    padding:.1em .5em;
    border:solid 1px gray;
    @include border-right-radius(3px);
    @include border-left-radius(3px);

    &.focused {
        height:6em;
        max-height:300px;
    }
}

.stretch-control {
    width:100%;
}

a.info-icon {
    font-size:$font-size-base;
    span.glyphicon.glyphicon-info-sign {
        top: 2px;
    }

    @media (min-width: $screen-sm-min) {
        &.info-float {
            position: absolute;
            right: -2px;
            top: 6px;
        }
    }
}

