@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss";

$hint-back: $text-color;
$hint-color: white;
$hint-arrow-size: 10px;
$hint-font: sans-serif;
$hint-overlap: 3px;
$hint-border-radius: 4px;
$hint-padding-h: 10px;
$hint-padding-v: 7px;
$hint-speed: 0.2s;
$hint-delay: 0.2s;

* > .hint {
  float: left;
  pointer-events: none;
  display: none;
  cursor: default;
  line-height: 1em;
  opacity: 0;
  transition: opacity $hint-speed;
  transition-delay: 0s;
  position: absolute;
  display: block;
  top: $hint-overlap - $hint-arrow-size;
  background: $hint-back;
  border-radius: $hint-border-radius;
  padding: $hint-padding-v $hint-padding-h;
  left: 50%;
  transform: translate(-50%, -100%);
  font-family: $hint-font;
  color: $hint-color;
  z-index: 100;

  &::before {
    content: " ";
    width: 100%;
    height: $hint-arrow-size - $hint-overlap;
    position: absolute;
    top: 100%;
    left: 0;
  }

  &::after {
    content: " ";
    width: 0;
    height: 0;
    border-left: 1+$hint-arrow-size solid transparent;
    border-right: 1+$hint-arrow-size solid transparent;
    border-top: 1+$hint-arrow-size solid $hint-back;
    position: absolute;
    bottom: 0 - $hint-arrow-size;
    left: 50%;
    transform: translateX(-50%);
  }
}

*:focus,
*:hover {

  > .hint {
    pointer-events: auto;
    opacity: 1;
    transition-delay: $hint-delay;
  }
}
