$brand-primary: #2570B0;
$font-size-base: 15px;
$font-size-h1: floor(($font-size-base * 2));
$font-size-h2: floor(($font-size-base * 1.6));
$font-size-h3: ceil(($font-size-base * 1.4));
$font-size-h4: ceil(($font-size-base * 1.2));

/* bower:scss */
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
/* endbower */

/* bower:scss */
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
/* endbower */

.visible-xs-and-sr {
    position:relative !important;
}
@media (min-width: $screen-sm-min) {
    .visible-xs-and-sr {
        position:absolute !important;
        top:-9999em;
    }
}

p a {
    text-decoration:underline;
}

* {
    @include placeholder(#767676);
}

button[disabled] {
    color:gray;
    font-style:italic;
}
.panel-heading h1 {
    margin:0;
}
.save-panel {
    text-align:center;
    max-width:500px;
}
.assert-indent {
    margin-left:1em;
}
.form-group-inline {
    .form-block {
        padding: 5px 0px 5px 15px;
    }
    label {
        font-weight:normal;
    }
    .form-control {
        padding: 3px 6px;
        height:auto;
    }
}
.form-block-head {
    padding:1em 0px 0px 15px;
    font-weight:bold;
    text-align:center;
}
textarea.expanding {
    width:100%;
    height:1.7em;

    &.focused {
        height:auto;
    }
}
.offscreen {
    position:absolute;
    top:-9999em;
}
.stretch-control {
    width:100%;
}
.panel-body {
    padding:0 !important;
    margin:15px;
}
.info-icon {
    font-size:15px;
}

table {
    border-collapse:collapse;
    margin:0 auto;
    min-width:65%;
    
    thead th { text-align:center }
    tbody th { text-align:left } 

    td, th {
        border:solid 1px #dddddd;
        padding: .2em .5em;
    }
    input[type=text] {
        width:100%;
    }
}

.sample {
    padding:0;
    margin:0;
    list-style:none;
    li {
        padding:5px 10px 0;
        border-bottom:1px $navbar-default-border solid;
    }
    // li:hover {
    //     background:#DDD;
    // }
    li.active {
        background:#EEE;
    }
}
.sample_narrow {
    list-style:none;
    li {
        padding: .2em .1em;
    }
}


$wzrd-v-padding: 8px;
$wzrd-h-padding: 5px;
$wzrd-border-rad: 8px;
$wzrd-gap: 5px;
$wzrd-arrow-size: floor($wzrd-v-padding + ($font-size-base/2) + 3px);
$wzrd-v-padding-outer: 12px;
$wzrd-bg: #efefef;

.wizard {
    margin:0;
    padding:0;
    list-style:none;
    .wizard-step {
        padding: $wzrd-v-padding ($wzrd-h-padding + 1) $wzrd-v-padding $wzrd-h-padding;
        padding-left: $wzrd-arrow-size + $wzrd-h-padding;
        margin:($wzrd-gap/2) 0 ($wzrd-gap/2) $wzrd-gap;
        background:$wzrd-bg;
        position:relative;
        display:inline-block;

        @include border-right-radius(3px);

        a {
            margin:(0-$wzrd-v-padding) (0-$wzrd-h-padding);
            padding:$wzrd-v-padding $wzrd-h-padding;
            display:block;
        }

        &:before,
        &:after {
            width:0px;
            height:0px;
            top: 0;
            position: absolute;
            content: "";
            border-top: $wzrd-arrow-size inset transparent;
            border-bottom: $wzrd-arrow-size inset transparent;
        }
        &:before {
            border-left: $wzrd-arrow-size solid $body-bg;
            left: 0;
        }
        &:after {
            border-left: $wzrd-arrow-size solid $wzrd-bg;
            right: (1 - $wzrd-arrow-size);
            z-index:2;
        }
        &:first-child:before,
        &:last-child:after {
            border:none;
        }
        &:first-child {
            @include border-left-radius($wzrd-border-rad);
            padding-left: $wzrd-v-padding-outer;
        }
        &:last-child {
            @include border-right-radius($wzrd-border-rad);
            padding-right: $wzrd-v-padding-outer;
        }
        &.active {
            background:$brand-primary;
            color:$btn-primary-color;
            a { color:$btn-primary-color; }
            &:after {
                border-left-color:$brand-primary;
            }
        }
        &.disabled a {
            font-style:italic;
            color:$btn-link-disabled-color;
            &:hover {
                text-decoration:none;
            }
        }
    }

    .badge {
        margin-right:5px;
        position:relative; top:-1px;
    }
    .wizard-step:first-child .badge {
        margin-left:0;
    }
}

$footer-height: 140px; 
$footer-padding: 20px;
html.full-page {
    height: 100%;

    body {
        height: 100%;
    }
    .page-view {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto (0-$footer-height - $footer-padding); /* the bottom margin is the negative value of the footer's height */
    }
    .push-footer, .page-footer {
        margin-top:$footer-padding;
        height: $footer-height; /* .push must be the same height as .footer */
    }
}
.page-footer {
    ul {
        padding:0;
        margin:0;
        list-style:none;
    }
    border: solid $brand-primary;
    border-width: 5px 0;
    font-size: 0.8em;
    padding: 1em;
}