$textcolor-light: #767676;
$brand-primary: #2570B0;
$navbar-default-link-color: #727272;
$font-size-base: 15px;
$panel-body-padding: 7px 15px;
$gray-light: #767676;
$font-size-h1: floor(($font-size-base * 2));
$font-size-h2: floor(($font-size-base * 1.6));
$font-size-h3: ceil(($font-size-base * 1.4));
$font-size-h4: ceil(($font-size-base * 1.2));

/* bower:scss */
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
/* endbower */


input:-webkit-autofill {
    background-color: #fff !important;
}

table {
    border-collapse:collapse;
    margin:0 auto;
    min-width:65%;
    
    thead th { text-align:center }
    tbody th { text-align:left } 

    td, th {
        border:solid 1px #dddddd;
        padding: .2em .5em;

        > p:only-child {
            padding:0;
            margin:0;
        }
    }
    input[type=text] {
        width:100%;
    }
}

.H2-P-combined {
    margin: 0 0 ($line-height-computed / 2);
    h2 {
        display:inline;
        font-weight:bold;
        font-size: $font-size-base;
    }
    p {
        display:inline;
    }
}

input, textarea, select {
    &.form-control {
        @include gradient-vertical(#EEE, #FAFAFA, 0, 15px);
        &:focus {
            @include gradient-vertical(#EEE, #FFF, 0, 15px);
        }
    }
    @include gradient-vertical(#EEE, #FAFAFA, 0, 15px);
    &:focus {
        @include gradient-vertical(#EEE, #FFF, 0, 15px);
    }
}

p a,
li a {
    text-decoration:underline;
}

* {
    @include placeholder($textcolor-light);
}
button[disabled] {
    color:gray;
    font-style:italic;
}

$footer-height: 140px; 
$footer-padding: 20px;
html.full-page {
    height: 100%;

    body {
        height: 100%;
    }
    .page-view {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto (0-$footer-height - $footer-padding); /* the bottom margin is the negative value of the footer's height */
    }
    .push-footer, .page-footer {
        margin-top:$footer-padding;
        height: $footer-height; /* .push must be the same height as .footer */
    }
}
.page-footer {
    ul {
        padding:0;
        margin:0;
        list-style:none;
    }
    border: solid $brand-primary;
    border-width: 5px 0;
    font-size: 0.8em;
    padding: 1em;
}

@import "bootstrap-extend";

@import "wizard";

@import "animation";

@import "evaluate";

@import "report";
