/* bower:scss */
@import "../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss";
/* endbower */

/* bower:scss */
@import "../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss";
/* endbower */

h1 { font-size:1.8em }
h2 { font-size:1.6em }
h3 { font-size:1.4em }
h4 { font-size:1.2em }

.offscreen {
    position:absolute;
    top:-9999em;
}

table {
    width:100%;
    border-collapse:collapse;
    
    th { text-align:center }
    td, th {
        border:solid 1px black;
    }
    input[type=text] {
        width:100%;
    }
}
