@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_mixins.scss";
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_variables.scss";

#final_report {
    border: solid 2px $brand-primary;
    padding: 1em;
    border-radius: 10px;
}

.panel-body {
    &.assert-indent {
        padding-left:15px;
        .subject-type {
            line-height:30px;
        }
        .earl-assert {
            padding-left:15px;
        }
    }
    + hr {
        margin:0;
    }
    .earl-assert {
        margin-bottom:7px;
        border-bottom:solid 1px #dddddd;
        &:last-child {
            border-bottom:none;
        }
    }
}

.sample_narrow {
    list-style:none;
    li {
        padding: .2em .1em;
    }
}