@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_mixins.scss";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss";

.reporter-view {
    table {
        border-collapse:collapse;
        min-width:65%;
        
        thead th { text-align:center }
        tbody th { text-align:left } 

        td, th {
            border:solid 1px #dddddd;
            padding: .2em .5em;

            > p:only-child {
                padding:0;
                margin:0;
            }
        }
    }

    h1 + h2,
    h2 + h3 {
        margin-top:12px
    }

    h1, .h1,
    h3, .h3 {
      margin-top: $line-height-computed;
      margin-bottom: ($line-height-computed / 3);
    }

    h2, .h2 {
      margin-top: $line-height-computed;
      margin-bottom: ($line-height-computed / 3);
    }

    h4, .h4,
    h5, .h5,
    h6, .h6 {
      margin-top: ($line-height-computed / 1.5);
      margin-bottom: ($line-height-computed / 3);
    }
}

.panel.criterion {
    border-left-width:6px;
    &.passed       { border-left-color:#86C8A7 }
    &.failed       { border-left-color:#E48996 }
    &.inapplicable { border-left-color:#A6A6C7 }
    &.canttell     { border-left-color:#E0B970 }
    
    .panel-heading {
        padding-bottom:0;
    }
    .criterion-title {
        margin-bottom: 5px;
    }
}

.panel {
    border-width:2px;
}

.panel .panel-heading,
.alert {
    color:$text-color;
    a {
        color:$text-color;
        text-decoration:underline;
        &:hover,
        &:focus {
            color:black;
        }
    }
}

.panel-heading h1 {
    margin:0;
}

.outcome p:last-child {
    margin-bottom: 0;
}

.panel-body {
    &.assert-indent {
        padding-left:15px;
        .subject-type {
            line-height:30px;
        }
        .earl-assert {
            padding-left:15px;
        }
    }
    + hr {
        margin:0;
    }
    .earl-assert {
        margin-bottom:7px;
        border-bottom:solid 1px #dddddd;
        &:last-child {
            border-bottom:none;
        }
    }
}

.sample_narrow {
    list-style:none;
    li {
        padding: .2em .1em;
    }
}