@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_mixins.scss";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss";

$wzrd-v-padding: 8px;
$wzrd-h-padding: 5px;
$wzrd-border-rad: 8px;
$wzrd-gap: 5px;
$wzrd-arrow-size: floor($wzrd-v-padding + ($font-size-base/2) + 3px);
$wzrd-v-padding-outer: 12px;
$wzrd-bg: #dfdfdf;
$wzrd-indent: 1em;

.wizard {
  margin: 0 0 0 $wzrd-indent;
  padding: 0;
  list-style: none;

  .wizard-step {
    padding: $wzrd-v-padding ($wzrd-h-padding + 1) $wzrd-v-padding $wzrd-h-padding;
    padding-left: $wzrd-arrow-size + $wzrd-h-padding;
    margin: ($wzrd-gap/2) 0 ($wzrd-gap/2) $wzrd-gap;
    background: $wzrd-bg;
    position: relative;
    display: inline-block;

    @include border-right-radius(3px);

    a {
      margin: (0-$wzrd-v-padding) (0-$wzrd-h-padding);
      padding: $wzrd-v-padding $wzrd-h-padding;
      display: block;
      color: $link-hover-color;
    }

    a:hover {
      color: black;
    }

    &::before,
    &::after {
      width: 0;
      height: 0;
      top: 0;
      position: absolute;
      content: "";
      border-top: $wzrd-arrow-size inset transparent;
      border-bottom: $wzrd-arrow-size inset transparent;
    }

    &::before {
      border-left: $wzrd-arrow-size solid $body-bg;
      left: 0;
    }

    &::after {
      border-left: $wzrd-arrow-size solid $wzrd-bg;
      right: (1 - $wzrd-arrow-size);
      z-index: 2;
    }

    &:first-child::before,
    &:last-child::after {
      border: none;
    }

    &:first-child {
      @include border-left-radius($wzrd-border-rad);

      padding-left: $wzrd-v-padding-outer;
      margin-left: (0 - $wzrd-indent);
    }

    &:last-child {
      @include border-right-radius($wzrd-border-rad);

      padding-right: $wzrd-v-padding-outer;
    }

    &.active {
      background: $brand-primary;
      color: $btn-primary-color;

      a {
        color: $btn-primary-color;
        text-decoration: none;
      }

      &::after {
        border-left-color: $brand-primary;
      }
    }

    &.disabled a {
      font-style: italic;
      color: $btn-link-disabled-color;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .badge {
    margin-right: 5px;
    position: relative;
    top: -1px;
  }

  .wizard-step:first-child .badge {
    margin-left: 0;
  }
}
