<div ng-include src="'views/messages.html'"></div>
<div ng-include src="'views/audit/stepbar.html'"></div>

<h1>{{ setTitle( translate('HD_STEP2') ) }}</h1>

<p ng-bind-html="'INTRO_STEP2' | translateAndLink
: ['INTRO_STEP2_0', 'http://www.w3.org/TR/WCAG-EM/#step2']"></p>

<form class="">

  <div class="form-group">
    <label for="essential_func">
      {{ 'LABEL_ESSENT_FUNC' | translate }}
    </label>&nbsp;<info-button label="{{'LABEL_INFO' | translate}}"></info-button>

    <info-field button="Close info">
      <p ng-bind-html="'INF_ESSENT_FUNC' | translateAndLink
      : ['INF_ESSENT_FUNC_0', 'http://www.w3.org/TR/WCAG-EM/#step2b'] | nlToBr"></p>
    </info-field>

    <textarea ng-model="explore.essentialFunctionality"
    class="form-control" id="essential_func" auto-resize
    cols="40" rows="5"></textarea>
  </div><!-- /form-group -->


  <div class="form-group">
    <label for="page_variety">
      {{ 'LABEL_VARIETY_PAGE_TYPES' | translate }}
    </label>&nbsp;<info-button label="{{'LABEL_INFO' | translate}}"></info-button>

    <info-field button="Close info">
      <p ng-bind-html="'INF_VARIETY_PAGE_TYPES' | translateAndLink
      : ['INF_VARIETY_PAGE_TYPES_0', 'http://www.w3.org/TR/WCAG-EM/#step2c']
      : ['INF_VARIETY_PAGE_TYPES_1', 'http://www.w3.org/TR/WCAG-EM/#states']"></p>
    </info-field>

    <textarea ng-model="explore.pageTypeVariety"
    class="form-control" id="page_variety" auto-resize
    cols="40" rows="5"></textarea>
  </div><!-- /form-group -->

</form>

<nav ng-include src="'views/step-buttons.html'"></nav>