<div ng-include src="'views/navigation.html'"></div>
<div ng-include src="'views/audit/stepbar.html'"></div>

<h1>Finalize the report</h1>

<form class="">
	<label for="summary">Summary</label>
	<textarea name="summary" id="summary" cols="30" rows="10" class="form-control"></textarea>
</form>

<div ng-include src="'views/report/findings.html'"></div>

<h2>Sample</h2>
<div ng-include src="'views/report/sample.html'"></div>

<p><a href="#/report" class="btn btn-primary btn-lg">
    Open the final report
</a></p>

<ul class="nav nav-pills">
  <li><a href="#/audit/test">
      <span class="glyphicon glyphicon-chevron-left"></span>
      {{'PREV_STEP' | translate}}
  </a></li>
</ul>