<div ng-include src="'views/audit/stepbar.html'"></div>

<h1>{{'HD_STEP3' | translate }}</h1>

<form class="">
  <h2>
    {{'HD_STRUCT_SAMPLE' | translate }}
    <info-button label="{{'LABEL_INFO' | translate}}"
        target="inf_str_sample"></info-button>
  </h2>
  <info-field ref="inf_str_sample" exitto=""
              button="{{'LABEL_CLOSE_INFO' | translate}}">
    {{ 'INF_STRUCT_SAMPLE' | translate }}
  </info-field>

  <ul>
    <li ng-repeat="page in structuredSample.webpage">
      {{'LABEL_PAGE' | translate }}:
      <input type="text" ng-model="page.description" size="40">

      {{'LABEL_HANDLE' | translate}}:
      <input type="text" ng-model="page.handle" size="40">

      <button ng-click="removePage(structuredSample, $index)">Del</button>
    </li>
  </ul>
  <button ng-click="addPage(structuredSample)">
    {{'BTN_ADD_PAGE' | translate }}
  </button>

  <h2>
    {{'HD_RANDOM_SAMPLE' | translate }}
    <info-button label="{{'LABEL_INFO' | translate}}"
        target="inf_rand_sample"></info-button>
  </h2>
  <info-field ref="inf_rand_sample" exitto=""
              button="{{'LABEL_CLOSE_INFO' | translate}}">
    {{ 'INF_RAND_SAMPLE' | translate }}
  </info-field>

  <ul>
    <li ng-repeat="page in randomSample.webpage">
      {{'LABEL_PAGE' | translate }}:
      <input type="text" ng-model="page.description" size="40">

      {{'LABEL_HANDLE' | translate}}:
      <input type="text" ng-model="page.handle" size="40">

      <button ng-click="removePage(structuredSample, $index)">Del</button>
    </li>
  </ul>
  <button ng-click="addPage(structuredSample)">
    {{'BTN_ADD_PAGE' | translate }}
  </button>
</form>


<footer><ul class="nav nav-pills">
  <li><a href="#/audit/explore">
      <span class="glyphicon glyphicon-chevron-left"></span>
      {{'PREV_STEP' | translate}}
  </a></li>
  <li class="pull-right active">
    <a href="#/audit/test" ng-click="processInput()">
      {{'NEXT_STEP' | translate}} 
      <span class="glyphicon glyphicon-chevron-right"></span>
  </a></li>
</ul></footer>