<div ng-include src="'views/audit/stepbar.html'"></div>

<h1>{{ setTitle( translate('HD_STEP3') ) }}</h1>

<p>{{ 'INTRO_STEP3' | translate }}</p>

<form>
  <h2>{{'HD_STRUCT_SAMPLE' | translate }}&nbsp;<info-button
    label="{{'LABEL_INFO' | translate}}" target="inf_str_sample"></info-button>
  </h2>

  <info-field ref="inf_str_sample" exitto=""
  button="{{'LABEL_CLOSE_INFO' | translate}}">
    <p ng-bind-html="'INF_STRUCT_SAMPLE' | translateAndLink
    : ['INF_STRUCT_SAMPLE_0', 'http://www.w3.org/TR/WCAG-EM/#step3a']"></p>
  </info-field>

  
  <p><button-collapse target="rootHide" property="essentialFunctionality">
      {{ 'LABEL_ESSENT_FUNC' | translate }}
  </button-collapse></p>
  <div class="alert alert-warning" collapse="rootHide.essentialFunctionality"
  ng-bind-html="exploreModel.essentialFunctionality | txtToHtml"></div>

  <p><button-collapse target="rootHide" property="pageTypeVariety">
      {{ 'LABEL_VARIETY_PAGE_TYPES' | translate }}
  </button-collapse></p>
  <div class="alert alert-warning" collapse="rootHide.pageTypeVariety"
  ng-bind-html="exploreModel.pageTypeVariety | txtToHtml"></div>

  <input-pages pages="structuredSample.webpage" add-page="addPage(structuredSample)"
  remove-page="removePage(structuredSample)"></input-pages>


  <h2>
    {{'HD_RANDOM_SAMPLE' | translate }}&nbsp;<info-button
    label="{{'LABEL_INFO' | translate}}" target="inf_rand_sample"></info-button>
  </h2>
  
  <info-field ref="inf_rand_sample" exitto="" button="{{'LABEL_CLOSE_INFO' | translate}}">
    <p ng-bind-html="'INF_RAND_SAMPLE' | translateAndLink
    : ['INF_RAND_SAMPLE_0', 'http://www.w3.org/TR/WCAG-EM/#step3b']"></p>
  </info-field>

  <div class="alert alert-warning">
    {{ "RAND_SAMPLE_LENGTH" | translate | format
          : structuredSample.webpage.length
          : randPageCount() }}
  </div>

  <input-pages pages="randomSample.webpage"
  add-page="addPage(randomSample)"
  remove-page="removePage(randomSample)"></input-pages>

</form>


<footer><ul class="nav nav-pills">
  <li><a href="#/audit/explore">
      <span class="glyphicon glyphicon-chevron-left"></span>
      {{'PREV_STEP' | translate}}
  </a></li>
  <li class="pull-right active">
    <a href="#/audit/test" ng-click="processInput()">
      {{'NEXT_STEP' | translate}} 
      <span class="glyphicon glyphicon-chevron-right"></span>
  </a></li>
</ul></footer>