<div ng-include src="'views/messages.html'"></div>
<div ng-include src="'views/audit/stepbar.html'"></div>

<h1>{{ setTitle( translate('HD_STEP3') ) }}</h1>

<p ng-bind-html="'INTRO_STEP3' | translateAndLink
: ['INTRO_STEP3_0', 'http://www.w3.org/TR/WCAG-EM/#step3']"></p>

<form>
  <h2>{{'HD_STRUCT_SAMPLE' | translate }}</h2>
  
  <h3><button-collapse target="rootHide" property="essentialFunctionality">
      {{ 'HD_ESSENT_FUNC' | translate }}
  </button-collapse></h3>
  <div class="alert alert-warning" collapse="rootHide.essentialFunctionality">
    <div ng-bind-html="exploreModel.essentialFunctionality | txtToHtml"></div>
    <em ng-if="!exploreModel.essentialFunctionality">
      {{ 'NO_TEXT_PROVIDED' | translate}}
    </em>
  </div>

  <h3><button-collapse target="rootHide" property="pageTypeVariety">
      {{ 'HD_VARIETY_PAGE_TYPES' | translate }}
  </button-collapse></h3>
  <div class="alert alert-warning" collapse="rootHide.pageTypeVariety">
    <div ng-bind-html="exploreModel.pageTypeVariety | txtToHtml"></div>
    <em ng-if="!exploreModel.pageTypeVariety" >
      {{ 'NO_TEXT_PROVIDED' | translate}}
    </em>
  </div>

  <h3>{{ 'HD_STRUCT_SAMPLE_SUB' | translate }}&nbsp;<info-button
  label="{{'LABEL_INFO' | translate}}" target="inf_str_sample"></info-button></h3>

  <info-field ref="inf_str_sample" button="{{'LABEL_CLOSE_INFO' | translate}}">
    <p ng-bind-html="'INF_STRUCT_SAMPLE' | translateAndLink
    : ['INF_STRUCT_SAMPLE_0', 'http://www.w3.org/TR/WCAG-EM/#step3a']
    : ['INF_STRUCT_SAMPLE_1', 'http://www.w3.org/TR/WCAG-EM/#states']"></p>
  </info-field>

  <input-pages pages="structuredSample.webpage" add-page="getPageAdder(structuredSample)"
  remove-page="getPageRemover(structuredSample)"></input-pages>

  <h2>
    {{'HD_RANDOM_SAMPLE' | translate }}&nbsp;<info-button
    label="{{'LABEL_INFO' | translate}}" target="inf_rand_sample"></info-button>
  </h2>
  
  <info-field ref="inf_rand_sample" button="{{'LABEL_CLOSE_INFO' | translate}}">
    <p ng-bind-html="'INF_RAND_SAMPLE' | translateAndLink
    : ['INF_RAND_SAMPLE_0', 'http://www.w3.org/TR/WCAG-EM/#step3b']
    : ['INF_RAND_SAMPLE_1', 'http://www.w3.org/TR/WCAG-EM/#states']"></p>
  </info-field>

  <div class="alert alert-warning">
    {{ "RAND_SAMPLE_LENGTH" | translate | format
          : structuredSample.webpage.length
          : randPageCount() }}
  </div>

  <input-pages pages="randomSample.webpage"
  add-page="getPageAdder(randomSample)"
  remove-page="getPageRemover(randomSample)"></input-pages>


  
  <div class="form-group key-value-group" 
  ng-init="col0 = 'visible-xs col-xs-12 form-block-head';
           col1 = 'col-xs-9 col-sm-4 col-md-3 form-block right-col';
           col2 = 'col-xs-9 col-sm-7 col-md-8 form-block right-col';
           col3 = 'col-sm-1 form-block remove-button';
           colHide = 'col-xs-3 visible-xs-and-sr form-block';
           row = 'row form-group-inline';
           head = 'row hidden-xs form-block-head';
           delButton = 'btn glyphicon glyphicon-remove-sign'">

  <strong>{{ 'LABEL_RELIEDUP_TECH' | translate }}</strong>&nbsp;<info-button
  label="{{'LABEL_INFO' | translate}}"></info-button>

  <info-field button="Close info">
    <p ng-bind-html="'INF_RELIEDUP_TECH' | translateAndLink
    : ['INF_RELIEDUP_TECH_0', 'http://www.w3.org/TR/WCAG-EM/#step2d']
    : ['INF_RELIEDUP_TECH_1', 'http://www.w3.org/TR/WCAG20/#reliedupondef']"></p>
  </info-field>

    <datalist id="data_tech_titles">
      <option ng-repeat="t in knownTech">{{t.title}}</option>
    </datalist> <datalist id="data_tech_specs">
      <option ng-repeat="t in knownTech">{{t.id}}</option>
    </datalist>
    <header ng-class="head" aria-hidden="true">
      <div ng-class="col1">
        {{'LABEL_TECH' | translate}}
      </div> <div ng-class="col2">
        {{'LABEL_TECH_SPEC' | translate}}
      </div>
    </header>
  
    <p ng-if="knownTech.length === 0" class="appear no-selection"><em>
      {{:: 'NO_TECH_DEFINED' | translate}}
    </em></p>

    <fieldset class="row form-group-inline appear" id="technologies"
    ng-repeat="tech in exploreModel.reliedUponTechnology">
      <legend ng-class="col0">
        {{ 'LABEL_TECH' | translate }} {{$index+1}}
      </legend>

      <label ng-class="colHide" for="tech_{{$index}}">
        {{'LABEL_TECH' | translate}}:
      </label> <div ng-class="col1">
        <input type="text" class="form-control"
        id="tech_{{$index}}" list="data_tech_titles"
        ng-model="tech.title" ng-change="updateSpec(tech)"
        placeholder="{{'PLH_TECH' | translate}}">
      </div>

      <label ng-class="colHide" for="tech_spec_{{$index}}">
        {{'LABEL_TECH_SPEC' | translate }}:
      </label> <div ng-class="col2">
        <input type="text" class="form-control"
        id="tech_spec_{{$index}}" list="data_tech_specs"
        ng-model="tech.id"
        placeholder="{{'PLH_TECH_SPEC' | translate}}">
      </div>

      <div ng-class="col3">
        <button ng-class="delButton"
        ng-click="removeTechnology($index, $event)"
        tooltip="{{'BTN_REMOVE_TECH' | translate}}"
        tooltip-animation="false"
        tooltip-trigger="focus blur mouseenter mouseleave">
          <span class="sr-only">
            {{'BTN_REMOVE_TECH' | translate}}
          </span>
        </button>
      </div>
    </fieldset><!-- /row -->

    <button ng-click="addTechnology($event)" class="btn btn-default">
      <span class="glyphicon glyphicon-plus-sign"></span>
      {{'BTN_ADD_TECH' | translate }}
    </button>
  </div><!-- /form-group -->

</form>


<nav ng-include src="'views/step-buttons.html'"></nav>