<div ng-include src="'views/navigation.html'"></div>
<div ng-include src="'views/audit/stepbar.html'"></div>

<h1>Step 1: Define the Evaluation Scope</h1>

<p>During this step the overall scope of the evaluation is defined. It is a fundamental step that affects the subsequent steps in the evaluation procedure. It is ideally carried out in consultation with the evaluation commissioner (who may or may not be the website owner) to ensure common expectations about the scope of the evaluation. Initial exploration of the target website during this step may be necessary to better know specifics of the website and the required evaluation. Detailed exploration of the website is carried out in Step 2: Explore the Target Website.</p>

<form>
  <div class="formgroup">
    <label for="commissioner">
      Commissioner of this evaluation
    </label>
    <input ng-model="evalScope.commissioner" type="text"
           class="form-control" id="commissioner">
  </div>
  <div class="formgroup">
    <label for="site-name">
      Website name
    </label>
    <input ng-model="evalScope.website.name" type="text"
           class="form-control" id="site-name">
  </div>
  <div class="formgroup">
    <label for="website_scope">
      Website scope
    </label>
    <textarea ng-model="evalScope.website.siteScope" id="website_scope"
        class="form-control" cols="40" rows="5"></textarea>
  </div>
  
  <div class="formgroup">
    <label for="conformance_target">
      Conformance Target
    </label>
    <select ng-model="evalScope.conformanceTarget" 
            id="conformance_target" class="form-control">
      <option value="wcag:level_a">Level A</option>
      <option value="wcag:level_aa">Level A + AA</option>
      <option value="wcag:level_aaa">Level A + AA + AAA</option>
    </select>
  </div>
  
  <div class="formgroup">
    <label for="as_baseline">
      Accessibility support baseline
    </label>
    <textarea ng-model="evalScope.accessibilitySupportBaseline"
        id="as_baseline" class="form-control"
        cols="40" rows="5"></textarea>
  </div>
  
  <div class="formgroup">
    <label for="additional_requirements">
      Additional Evaluation Requirements
    </label>
    <textarea ng-model="evalScope.additionalEvalRequirement"
        id="additional_requirements" class="form-control"
        cols="40" rows="5"></textarea>
  </div>
</form>

<ul class="nav nav-pills">
  <li class="pull-right active">
    <a ng-click="validateInput()" href="#/audit/explore">
      Next step <span class="glyphicon glyphicon-chevron-right"></span>
    </a></li>
</ul>