<div ng-include src="'views/audit/stepbar.html'"></div>

<h1>{{ setTitle( translate('HD_STEP1') ) }}</h1>

<p>{{ 'INTRO_STEP1' | translate }}</p>

<form>
  <div class="form-group">
    <label for="site-title">
      {{ 'LABEL_SITE_NAME' | translate }}
    </label>&nbsp;<info-button label="{{'LABEL_INFO' | translate}}"></info-button>
    
    <info-field button="{{'LABEL_CLOSE_INFO' | translate}}"
                exitto="site-title">
      <p ng-bind-html="'INF_SITE_NAME' | translate | nlToBr"></p>
    </info-field>

    <input ng-model="evalScope.website.title" type="text"
           class="form-control" id="site-title">
  </div>

  <div class="form-group">
    <label for="website_scope">
      {{ 'LABEL_SITE_SCOPE' | translate }}
    </label>&nbsp;<info-button label="{{'LABEL_INFO' | translate}}"></info-button>

    <info-field button="{{'LABEL_CLOSE_INFO' | translate}}" exitto="website_scope">
      <p ng-bind-html="'INF_SITE_SCOPE' | translateAndLink
      : ['INF_SITE_SCOPE_0', 'http://www.w3.org/TR/WCAG-EM/#step1a']"></p>
    </info-field>

    <textarea ng-model="evalScope.website.siteScope" id="website_scope"
        class="form-control" cols="40" rows="5"></textarea>
  </div>
  
  <div class="form-group">
    <label for="conformance_target">
      {{ 'LABEL_CONFORMANCE_TGT' | translate }}
    </label>&nbsp;<info-button label="{{'LABEL_INFO' | translate}}"></info-button>

    <info-field button="{{'LABEL_CLOSE_INFO' | translate}}"
    exitto="conformance_target">
      <p ng-bind-html="'INF_CONF_TGT' | translateAndLink
      : ['INF_CONF_TGT_0', 'http://www.w3.org/TR/WCAG-EM/#step1b']"></p>
    </info-field>

    <select ng-model="evalScope.conformanceTarget" 
            id="conformance_target" class="form-control">
      <option value="wcag20:level_a">
        {{ 'WCAG_A' | translate }}
      </option>
      <option value="wcag20:level_aa">
        {{ 'WCAG_AA' | translate }}
      </option>
      <option value="wcag20:level_aaa">
        {{ 'WCAG_AAA' | translate }}
      </option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="as_baseline" class="">
      {{ 'LABEL_SUPPORT_BASE' | translate }}
    </label>&nbsp;<info-button label="{{'LABEL_INFO' | translate}}"></info-button>

    <info-field button="{{'LABEL_CLOSE_INFO' | translate}}"
    exitto="as_baseline">
      <p ng-bind-html="'INF_SUPPORT_BASE' | translateAndLink
      : ['INF_SUPPORT_BASE_0', 'http://www.w3.org/TR/WCAG-EM/#step1c']
      : ['INF_SUPPORT_BASE_1', 'http://www.w3.org/TR/WCAG20/#useragentdef']
      : ['INF_SUPPORT_BASE_2', 'http://www.w3.org/TR/WCAG20/#accessibility-supporteddef']">
    </p></info-field>

    <textarea ng-model="evalScope.accessibilitySupportBaseline"
        id="as_baseline" class="form-control"
        cols="40" rows="5"></textarea>
  </div>
  
  <div class="form-group">
    <label for="additional_requirements">
      {{ 'LABEL_EXTRA_REQUIREMENTS' | translate }}
    </label>&nbsp;<info-button label="{{'LABEL_INFO' | translate}}"></info-button>

    <info-field button="{{'LABEL_CLOSE_INFO' | translate}}"
    exitto="additional_requirements">
      <p ng-bind-html="'INF_EXTRA_REQUIREMENTS' | translateAndLink
      : ['INF_EXTRA_REQUIREMENTS_0', 'http://www.w3.org/TR/WCAG-EM/#step1d']"></p>
    </info-field>

    <textarea ng-model="evalScope.additionalEvalRequirement"
        id="additional_requirements" class="form-control"
        cols="40" rows="5"></textarea>
  </div>
</form>

<footer><ul class="nav nav-pills">
  <li><a href="#/start">
      <span class="glyphicon glyphicon-chevron-left"></span>
      {{'PREV_STEP' | translate}}
  </a></li>
  <li class="pull-right active">
    <a href="#/audit/explore" ng-click="processInput()">
      {{'NEXT_STEP' | translate}} 
      <span class="glyphicon glyphicon-chevron-right"></span>
  </a></li>
</ul></footer>