<div ng-include src="'views/messages.html'"></div>
<div ng-include src="'views/audit/stepbar.html'"></div>

<h1>{{ setTitle( translate('HD_STEP1') ) }}</h1>

<p ng-bind-html="'INTRO_STEP1' | translateAndLink
: ['INTRO_STEP1_0', 'http://www.w3.org/TR/WCAG-EM/#step1']"></p>

<form>
  <div class="form-group">
    <label for="site-title">
      {{ 'LABEL_SITE_NAME' | translate }}
    </label>&nbsp;<info-button label="{{'LABEL_INFO' | translate}}"></info-button>
    
    <info-field button="{{'LABEL_CLOSE_INFO' | translate}}"
                exitto="site-title">
      <p ng-bind-html="'INF_SITE_NAME' | translate | nlToBr"></p>
    </info-field>

    <input ng-model="evalScope.website.title" type="text"
           class="form-control" id="site-title">
  </div>

  <div class="form-group">
    <label for="website_scope">
      {{ 'LABEL_SITE_SCOPE' | translate }}
    </label>&nbsp;<info-button label="{{'LABEL_INFO' | translate}}"></info-button>

    <info-field button="{{'LABEL_CLOSE_INFO' | translate}}" exitto="website_scope">
      <p>{{ 'INF_SITE_SCOPE_0' | translate }}</p>
      <ul>
        <li>{{ 'INF_SITE_SCOPE_LI0' | translate }}</li>
        <li>{{ 'INF_SITE_SCOPE_LI1' | translate }}</li>
        <li>{{ 'INF_SITE_SCOPE_LI2' | translate }}</li>
      </ul>
      <p ng-bind-html="'INF_SITE_SCOPE_1' | translateAndLink
      : ['INF_SITE_SCOPE_1A', 'http://www.w3.org/TR/WCAG-EM/#step1a']"></p>
    </info-field>

    <textarea ng-model="evalScope.website.siteScope"
    class="form-control" id="website_scope" auto-resize
    cols="40" rows="3"></textarea>
  </div>
  
  <div class="form-group">
    <label for="conformance_target">
      {{ 'LABEL_CONFORMANCE_TGT' | translate }}
    </label>&nbsp;<info-button label="{{'LABEL_INFO' | translate}}"></info-button>

    <info-field button="{{'LABEL_CLOSE_INFO' | translate}}"
    exitto="conformance_target">
      <p ng-bind-html="'INF_CONF_TGT' | translateAndLink
      : ['INF_CONF_TGT_0', 'http://www.w3.org/TR/WCAG-EM/#step1b']"></p>
    </info-field>

    <select id="conformance_target" class="form-control" 
    ng-options="key as value for (key,value) in conformanceOptions"
    ng-model="evalScope.conformanceTarget">
    </select>
  </div>
  
  <div class="form-group">
    <label for="as_baseline" class="">
      {{ 'LABEL_SUPPORT_BASE' | translate }}
    </label>&nbsp;<info-button label="{{'LABEL_INFO' | translate}}"></info-button>

    <info-field button="{{'LABEL_CLOSE_INFO' | translate}}"
    exitto="as_baseline">
      <p ng-bind-html="'INF_SUPPORT_BASE' | translateAndLink
      : ['INF_SUPPORT_BASE_0', 'http://www.w3.org/TR/WCAG-EM/#step1c']
      : ['INF_SUPPORT_BASE_1', 'http://www.w3.org/TR/WCAG20/#useragentdef']
      : ['INF_SUPPORT_BASE_2', 'http://www.w3.org/TR/WCAG20/#accessibility-supporteddef']">
    </p></info-field>

    <textarea ng-model="evalScope.accessibilitySupportBaseline"
    id="as_baseline" class="form-control" auto-resize
    cols="40" rows="5"></textarea>
  </div>
  
  <div class="form-group">
    <label for="additional_requirements">
      {{ 'LABEL_EXTRA_REQUIREMENTS' | translate }}
    </label>&nbsp;<info-button label="{{'LABEL_INFO' | translate}}"></info-button>

    <info-field button="{{'LABEL_CLOSE_INFO' | translate}}"
    exitto="additional_requirements">
      <p>{{ 'INF_EXTRA_REQUIREMENTS_0' | translate }}</p>
      <ul>
        <li>{{ 'INF_EXTRA_REQUIREMENTS_LI0' | translate }}</li>
        <li>{{ 'INF_EXTRA_REQUIREMENTS_LI1' | translate }}</li>
        <li>{{ 'INF_EXTRA_REQUIREMENTS_LI2' | translate }}</li>
      </ul>
      <p ng-bind-html="'INF_EXTRA_REQUIREMENTS_1' | translateAndLink
      : ['INF_EXTRA_REQUIREMENTS_1A', 'http://www.w3.org/TR/WCAG-EM/#step1a']"></p>
    </info-field>

    <textarea ng-model="evalScope.additionalEvalRequirement"
    id="additional_requirements" class="form-control" auto-resize
    cols="40" rows="5"></textarea>
  </div>
</form>

<nav ng-include src="'views/step-buttons.html'"></nav>