<div ng-include src="'views/navigation.html'"></div>
<div ng-include src="'views/audit/stepbar.html'"></div>

<h1>Test the sample</h1>

<p>During this step the evaluator audits (detailed evaluation) the sample selected in <a class="termref" href="#step3">Step 3: Select a Representative Sample</a> according to the five <acronym>WCAG</acronym> 2.0 <a href="http://www.w3.org/TR/WCAG20/#conformance-reqs">conformance requirements</a> at the conformance level from <a class="termref" href="#step1b">Step 1.b: Define the Conformance Target</a>. Many web pages and web page states in the sample will have components, such as the header, navigation bars, search form, and others that are occur repeatedly. Typically these components do not need to be re-evaluated on each occurrence unless they appear or behave differently, or when additional requirements are defined in <a class="termref" href="#step1b">Step 1.d: Define Additional Requirements for Evaluation (Optional)</a>.</p>

<p><strong>Important:</strong> Carrying out this step requires deep understanding of the <acronym>WCAG</acronym> 2.0 <a href="http://www.w3.org/TR/WCAG20/#conformance-reqs">conformance requirements</a> and the <a href="http://www.w3.org/TR/WCAG20/#intro-layers-guidance"><acronym>WCAG</acronym> 2.0 Layers of Guidance</a>. <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/conformance">Understanding Conformance</a> provides more guidance.</p>

<p><strong>Note:</strong> If there is no content related to Success Criteria presented to the user (for example, no video on the web page), then the Success Criteria are "<a href="http://www.w3.org/TR/WCAG/#satisfiesdef">satisfied</a>" according to <acronym>WCAG</acronym> 2.0. Optionally, an evaluation report can specifically indicate Success Criteria for which there is no relevant content, for example, with "not present".</p>

<div class="form-horizontal">
	<span class="col-sm-3 control-label">Test progression: (10%)</span>
	<span class="col-sm-9"><progress class="form-control" value="10" max="100"></progress></span>
</div>

<ng-include src="'views/audit/test/sample-pages.html'"></ng-include>

<ng-include src="'views/audit/test/criteria.html'"></ng-include>

<ul class="nav nav-pills">
  <li><a href="#/audit/sample">
    <span class="glyphicon glyphicon-chevron-left"></span> Previous step</a></li>
  <li class="pull-right active"><a href="#/audit/finalize">
    Next step <span class="glyphicon glyphicon-chevron-right"></span>
    </a></li>
</ul>