<div ng-include src="'views/messages.html'"></div>
<div ng-include src="'views/audit/stepbar.html'"></div>

<h1>{{ setTitle( translate('HD_STEP4') ) }}</h1>

<p ng-bind-html="'INTRO_STEP4' | translateAndLink
: ['INTRO_STEP4_0', 'http://www.w3.org/TR/WCAG20/#conformance-reqs']"></p>

<div class="row">
  <div class="col-xs-12 col-sm-3"
  	ng-include src="'views/audit/test/sample-pages.html'"></div>

  <div class="col-xs-12 col-sm-9"
  	ng-include src="'views/audit/test/criteria.html'"></div>
</div>

<nav ng-include src="'views/step-buttons.html'"></nav>