# npm
node_modules

# App specific
_site

# The translations are build from
# locales/<LOCALE> files.
# They need to be ignored by git,
# but not by platforms like Github Pages.
# Files prefixed with `_` are ignored by default.
translations_*.json
