<div id="final_report" class="row">
  <h1>{{report.title}}</h1>
  <p><em>
    {{'HTML_REPORT.BY' | translate }} {{report.creator.name}},
    {{report.date | date: shortDate}}
  </em></p>
  <p><em>
    {{'HTML_REPORT.COMMISION_BY' | translate }} {{report.commissioner}}
  </em></p>

  <h2>{{'HTML_REPORT.HD_SUMMARY'| translate}}</h2>
  <div data-ng-bind-html="report.summary | txtToHtml"></div>

  <h2>{{'HTML_REPORT.HD_SCOPE' | translate }}</h2>
  <div data-ng-include data-src="'views/report/scope.html'"></div>

  <h2>{{'HTML_REPORT.HD_SCORE' | translate }}</h2>
  <div data-ng-include data-src="'views/report/score.html'"></div>

  <h2>{{ 'HTML_REPORT.HD_CRITERIA_REPORT' | translate }}</h2>
  <div data-ng-include data-src="'views/report/findings.html'"></div>

  <h2>{{'HTML_REPORT.HD_SAMPLE' | translate }}</h2>
  <div data-ng-include data-src="'views/report/sample.html'"></div>

  <div data-ng-if="report.specifics.trim()">
    <h2>{{'HTML_REPORT.HD_SPECIFICS' | translate }}</h2>
    <div data-ng-bind-html="report.specifics | txtToHtml"></div>
  </div>

  <h2>{{'HTML_REPORT.HD_DOCS' | translate }}</h2>
  <ul lang="en">
    <li><a target="_blank" href="http://www.w3.org/WAI/standards-guidelines/wcag/">
        Web Content Accessibility Guidelines (WCAG)</a> <br>
        Overview: www.w3.org/WAI/intro/wcag
    </li>
    <li><a target="_blank" href="http://www.w3.org/WAI/WCAG21/quickref/">
        How to Meet WCAG 2.1 Quick Reference</a><br>
        www.w3.org/WAI/WCAG21/quickref/
    </li>
    <li><a target="_blank" href="http://www.w3.org/WAI/eval/conformance">
        WCAG Evaluation Methodology (WCAG-EM)</a><br>
        Overview: www.w3.org/WAI/eval/conformance
    </a></li>
  </ul>
</div>
