<div id="final_report" class="row">
  <h1>{{report.title}}</h1>
  <p><em>
    {{'BY' | translate }} {{report.creator.name}},
    {{report.date | date: shortDate}}
  </em></p>
  <p><em>
    {{'COMMISION_BY' | translate }} {{report.commissioner}}
  </em></p>

  <h2>{{'HD_SUMMARY'| translate}}</h2>
  <div data-ng-bind-html="report.summary | txtToHtml"></div>

  <h2>{{'HD_SCOPE' | translate }}</h2>
  <div data-ng-include data-src="'views/report/scope.html'"></div>

  <h2>{{'HD_SCORE' | translate }}</h2>
  <div data-ng-include data-src="'views/report/score.html'"></div>

  <h2>{{:: 'HD_CRITERIA_REPORT' | translate }}</h2>
  <div data-ng-include data-src="'views/report/findings.html'"></div>

  <h2>{{'HD_SAMPLE' | translate }}</h2>
  <div data-ng-include data-src="'views/report/sample.html'"></div>

  <div data-ng-if="report.specifics.trim()">
    <h2>{{'HD_SPECIFICS' | translate }}</h2>
    <div data-ng-bind-html="report.specifics | txtToHtml"></div>
  </div>

  <h2>{{'HD_DOCS' | translate }}</h2>
  <ul lang="en">
    <li><a href="http://www.w3.org/TR/WCAG20/">Web Content 
        Accessibility Guidelines (WCAG) 2.0
    </a></li> <li><a href="http://www.w3.org/WAI/WCAG20/quickref/">
        How to meet WCAG 2.0
    </a></li> <li><a href="http://www.w3.org/TR/WCAG-EM/">
        WCAG Evaluation Methodology (WCAG-EM)
    </a></li>
  </ul>
</div>