<div class="panel criterion panel-default"
ng-class="getClassName(assert.result.outcome)">

  <earl-assert class="panel-heading" value="assert.result" options="opt">

    <div class="col-xs-12 criterion-title">
      <strong>{{:: spec.num}} {{:: spec.handle}}</strong>: ({{::spec.level | rdfToLabel}})
      <icon-button class="pull-right"
      icon="'book'" label="'AUDIT.BTN_SHOW_TEXT' | translate"
      click="spec.show_text = !spec.show_text">
      </icon-button>
    </div>
    <div class="col-xs-12" collapse="!spec.show_text">
      <p>{{::spec.text}}<p>
      <div ng-repeat="detail in spec.details">
        <ul ng-if="detail.type === 'ulist'">
          <li ng-repeat="item in detail.items">
            <strong ng-if="item.handle">
              {{::item.handle}}
            </strong>
            {{:: item.text}}
          </li>
        </ul>
        <ol ng-if="detail.type === 'olist'">
          <li ng-repeat="item in detail.items">
            <strong ng-if="item.handle">
              {{::item.handle}}
            </strong>
            {{:: item.text}}
          </li>
        </ol>
        <p ng-if="details.type === 'note'">
          <em>{{ "AUDIT.NOTE" | translate }}:</em> {{:: details.text}}
        </p>
      </div>
      <p>
        <a target="_blank" href="{{::
          'http://www.w3.org/TR/UNDERSTANDING-WCAG20/' +
          spec.id.substr(6) +
          '.html'}}">{{ "AUDIT.UNDERSTAND" | translate }} {{::spec.number}}
          <span class="glyphicon glyphicon-new-window"></span></a>
        <a target="_blank" href="{{::
          'http://www.w3.org/WAI/WCAG20/quickref/#qr-' +
          spec.id.substr(6)
          }}">{{ "AUDIT.HOW_TO" | translate }} {{::spec.number}}
          <spasn class="glyphicon glyphicon-new-window"></span></a>
      </p>
    </div>
    <div class="col-xs-12">{{:: 'AUDIT.SAMPLE_FINDINGS' | translate }}:</div>

  </earl-assert>

  <div class="crit-detail-btn" ng-if="opt.collapses">
    <button class="btn btn-default"
    ng-click="rootHide[critHide] = !rootHide[critHide]">

      <span ng-if="!rootHide[critHide]" class="glyphicon glyphicon-chevron-right"></span>
      <span ng-if="!rootHide[critHide]"
      ng-bind="'AUDIT.BTN_EXPAND_PAGES' | translate"></span>

      <span ng-if="rootHide[critHide]" class="glyphicon glyphicon-chevron-down"></span>
      <span ng-if="rootHide[critHide]"
      ng-bind="'AUDIT.BTN_COLLAPSE_PAGES' | translate"></span>

    </button>
  </div>

  <criterion-body options="opt" assert="assert" class="appear-tall"
  ng-if="rootHide[critHide] || !opt.collapses"></criterion-body>
</div>