<div class="panel criterion panel-default"
ng-class="getClassName(assert.result.outcome)">

  <earl-assert class="panel-heading" value="assert.result" options="opt">

    <div class="col-xs-12 criterion-title">
      <strong>{{:: spec.number}} {{:: spec.title}}</strong>: ({{::spec.level | rdfToLabel}})
      <icon-button class="pull-right"
      icon="'book'" label="'AUDIT.BTN_SHOW_TEXT' | translate"
      click="spec.show_text = !spec.show_text">
      </icon-button>
    </div>
    <div class="col-xs-12" collapse="!spec.show_text">
      <p>{{::spec.description}}<p>
      <ul ng-if="spec.specific_cases">
        <li ng-repeat="case in spec.specific_cases">
          <strong ng-if="case.title">
            {{::case.title}}:
          </strong>
          {{:: case.description}}
        </li>
      </ul>
      <p>
        <a target="_blank" href="{{::
          'http://www.w3.org/TR/UNDERSTANDING-WCAG20/' +
          spec.uri.substr(7) +
          '.html'}}">{{ "AUDIT.UNDERSTAND" | translate }} {{::spec.number}}
          <span class="glyphicon glyphicon-new-window"></span></a>
        <a target="_blank" href="{{::
          'http://www.w3.org/WAI/WCAG20/quickref/#qr-' +
          spec.uri.substr(7)
          }}">{{ "AUDIT.HOW_TO" | translate }} {{::spec.number}}
          <spasn class="glyphicon glyphicon-new-window"></span></a>
      </p>
    </div>
    <div class="col-xs-12">{{:: 'AUDIT.SAMPLE_FINDINGS' | translate }}:</div>

  </earl-assert>

  <div class="crit-detail-btn" ng-if="opt.collapses">
    <button class="btn btn-default"
    ng-click="rootHide[critHide] = !rootHide[critHide]">

      <span ng-if="!rootHide[critHide]" class="glyphicon glyphicon-chevron-right"></span>
      <span ng-if="!rootHide[critHide]"
      ng-bind="'AUDIT.BTN_EXPAND_PAGES' | translate"></span>

      <span ng-if="rootHide[critHide]" class="glyphicon glyphicon-chevron-down"></span>
      <span ng-if="rootHide[critHide]"
      ng-bind="'AUDIT.BTN_COLLAPSE_PAGES' | translate"></span>

    </button>
  </div>

  <criterion-body options="opt" assert="assert" class="appear-tall"
  ng-if="rootHide[critHide] || !opt.collapses"></criterion-body>
</div>