<div class="panel criterion" ng-class="getClassName(assert.result.outcome)">

  <earl-assert class="panel-heading" value="assert.result" options="opt">

    <div class="col-xs-12 criterion-title">
      <strong>{{:: spec.number}} {{:: spec.title}}:</strong>
      <span class="badge">{{::spec.level | rdfToLabel}}</span>
    </div>
    <div class="col-xs-12">{{:: 'SAMPLE_FINDINGS' | translate }}:</div>

  </earl-assert>

  <div class="crit-detail-btn" ng-if="opt.collapses">
    <button class="btn btn-default"
    ng-click="rootHide[critHide] = !rootHide[critHide]">

      <span ng-if="!rootHide[critHide]" class="glyphicon glyphicon-chevron-right"></span>
      <span ng-if="!rootHide[critHide]" 
      ng-bind="'BTN_EXPAND_PAGES' | translate"></span>

      <span ng-if="rootHide[critHide]" class="glyphicon glyphicon-chevron-down"></span>
      <span ng-if="rootHide[critHide]" 
      ng-bind="'BTN_COLLAPSE_PAGES' | translate"></span>

    </button>
  </div>

  <criterion-body options="opt" assert="assert" class="appear-tall"
  ng-if="rootHide[critHide] || !opt.collapses"></criterion-body>
</div>