<div>
  <datalist id="pagetitles_{{$id}}">
    <option ng-repeat="samplePage in unselectedPages"
    value="{{samplePage.displayTitle()}}">{{samplePage.displayTitle()}}</option>
  </datalist>

  <button ng-repeat="page in pages"
  type="button" class="tag label"
  ng-click="removePage(page)">
    {{page.title}}&nbsp;<span class="glyphicon glyphicon-remove"></span>
    <span class="hint">{{page.description}}</span>
    <span class="sr-only">, {{ 'AUDIT.CLICK_TO_DELETE' | translate }}</span>
  </button>

  <input type="text" ng-model="newPage" class="taginput"
  shy-placeholder="'AUDIT.LABEL_PAGE_TITLE' | translate"
  title="{{ 'AUDIT.LABEL_PAGE_TITLE' | translate }}"
  list="pagetitles_{{$id}}" ng-change="addPageToAssert()" />

</div>