<div class="panel criterion panel-default"
ng-class="getClassName(assert.result.outcome)">

  <earl-assert class="panel-heading" assert="assert" options="opt">

    <div class="col-xs-12 criterion-title">
      <strong>{{ spec.num}} {{ spec.handle}}</strong>: ({{spec.level | rdfToLabel}})
      <span class="pull-right">
        <button onclick="toggleCriterionText(this)"
        class="btn btn-default glyphicon glyphicon-education"
        aria-expanded="false">
            <span class="hint">{{'AUDIT.BTN_SHOW_TEXT' | translate}}</span>
        </button>
      </span>

    </div><div class="col-xs-12 crit-text collapsed">
      <p>{{spec.text}}<p>
      <div ng-repeat="detail in spec.details">
        <ul ng-if="detail.type === 'ulist'">
          <li ng-repeat="item in detail.items">
            <strong ng-if="item.handle">
              {{item.handle}}
            </strong>
            {{ item.text}}
          </li>
        </ul>
        <ol ng-if="detail.type === 'olist'">
          <li ng-repeat="item in detail.items">
            <strong ng-if="item.handle">
              {{item.handle}}
            </strong>
            {{ item.text}}
          </li>
        </ol>
        <p ng-if="details.type === 'note'">
          <em>{{ "AUDIT.NOTE" | translate }}:</em> {{ details.text}}
        </p>
      </div>
      <p>
        <a target="_blank" href="{{
          'http://www.w3.org/WAI/WCAG21/Understanding/' +
          spec.id.split(':')[1] +
          '.html'}}">{{ "AUDIT.UNDERSTAND" | translate }} {{spec.number}}
          <span class="glyphicon glyphicon-new-window"></span></a>
        <a target="_blank" href="{{
          'http://www.w3.org/WAI/WCAG21/quickref/#' +
          spec.id.split(':')[1]
          }}">{{ "AUDIT.HOW_TO" | translate }} {{spec.number}}
          <span class="glyphicon glyphicon-new-window"></span></a>
      </p>
    </div>
    <div class="col-xs-12">{{ 'AUDIT.SAMPLE_FINDINGS' | translate }}:</div>

  </earl-assert>

  <div class="crit-detail-btn" ng-if="opt.collapses">
    <button class="btn btn-default"
    aria-expanded="{{!!rootHide[critHide]}}"
    ng-click="rootHide[critHide] = !rootHide[critHide]">

      <span ng-if="!rootHide[critHide]" class="glyphicon glyphicon-chevron-right"></span>
      <span ng-if="!rootHide[critHide]"
      ng-bind="'AUDIT.BTN_EXPAND_PAGES' | translate"></span>

      <span ng-if="rootHide[critHide]" class="glyphicon glyphicon-chevron-down"></span>
      <span ng-if="rootHide[critHide]"
      ng-bind="'AUDIT.BTN_COLLAPSE_PAGES' | translate"></span>

    </button>
  </div>

  <criterion-body options="opt" assert="assert" class="appear-tall"
  ng-if="rootHide[critHide] || !opt.collapses"></criterion-body>
</div>
