<div class="input-page key-value-group"
ng-init="col0 = 'visible-xs col-xs-12';
              col1 = 'col-xs-9 col-sm-7 col-md-8 form-block right-col';
              col2 = 'col-xs-9 col-sm-4 col-md-3 form-block right-col';
              col3 = 'col-sm-1 form-block remove-button';
              colHide = 'col-xs-3 visible-xs-and-sr form-block'">

  <header class="row hidden-xs form-block-head"
  aria-hidden="true">
    <div ng-class="col1">
      {{ 'SAMPLE.LABEL_PAGE' | translate}}</div>
    <div ng-class="col2">
      {{ 'SAMPLE.LABEL_HANDLE' | translate}}</div>
  </header>

  <p ng-if="pages.length === 0" class="appear no-selection"><em>
    {{ 'SAMPLE.NO_PAGES_DEFINED' | translate}}
  </em></p>

  <fieldset class="row form-group-inline appear" ng-repeat="page in pages">
    <legend ng-class="col0">
      {{ 'SAMPLE.ITEM' | translate }} {{$index+1}}
    </legend>

    <label ng-class="colHide" for="rand_page_desc_{{$index}}_{{$id}}">
      {{'SAMPLE.LABEL_HANDLE' | translate}}:
    </label>
    <div ng-class="col1">
      <input type="text" class="form-control"
       id="rand_page_desc_{{$index}}_{{$id}}"
       ng-model="page.description"
       ng-blur="processPage(page)"
       shy-placeholder="'SAMPLE.PLH_PAGE_URL' | translate">
    </div>
    <label ng-class="colHide" for="struct_{{$index}}_{{$id}}">
      {{ 'SAMPLE.LABEL_PAGE' | translate }}:
    </label>
    <div ng-class="col2">
      <input type="text" class="form-control"
       id="struct_{{$index}}_{{$id}}"
       ng-model="page.title"
       shy-placeholder="'SAMPLE.PLH_TITLE' | translate">
    </div>

    <div ng-class="col3">
      <button class="btn glyphicon glyphicon-remove-sign" ng-click="removePage($index, $event)">
        <span class="hint">{{ 'SAMPLE.BTN_REMOVE_PAGE' | translate}}</span>
      </button>
    </div>
  </fieldset>

  <button ng-click="addPage($event)" class="btn btn-default">
    <span class="glyphicon glyphicon-plus-sign"></span>
    {{ 'SAMPLE.BTN_ADD_PAGE' | translate }}
  </button>
</div>