<div class="row">
  <label for="result_outcome_{{$id}}" class="sr-only">
  	  {{'LABEL_OUTCOME' | translate}}:
  </label>
  <span class="col-sm-3">
    <select class="stretch-control" id="result_outcome_{{$id}}"
            ng-if="opt.editable" title="Outcome" 
            aria-label="Outcome"
            ng-model="assert.result.outcome"
            ng-options="outcome.id as outcome.name 
                        for outcome in outcomes">
    </select>
    <span ng-if="!opt.editable">
      {{assert.result.outcome | rdfToLabel}}
    </span>
  </span>

  <span class="col-sm-9">
    <result-description ng-if="opt.editable" 
        id="result_cause_{{unique}}"
        value="assert.result.description">
    </result-description>

    <span ng-if="!opt.editable">
      <strong>{{ 'LABEL_DESCR' | translate }}:&nbsp;</strong>
      {{assert.result.description}}
    </span>
  </span>
</div>
