<div class="row">
  <span class="col-sm-1"><label for="result_outcome_{{unique}}">
  	Outcome:
  </label></span>

  <span class="col-sm-2">
    <select class="stretch-control" id="result_outcome_{{unique}}"
            ng-model="assert.result.outcome"
            ng-options="outcome.id as outcome.name 
                        for outcome in outcomes">
    </select>
  </span>

  <span class="col-sm-1"><label class="control-label"
      for="result_cause_{{unique}}">
    Findings:
  </span>

  <span class="col-sm-8">
    <input class="stretch-control" id="result_cause_{{unique}}"
           ng-model="assert.result.description" type="text">
  </span>
</div>
