<fieldset>
  <legend>{{:: 'FILTER_CRITERIA' | translate }}</legend>
  <div>
    <label for="show_level-a">
      <input id="show_level-a" type="checkbox">
      {{:: 'LEVEL_A' | translate}}
    </label>
    <label for="show_level-aa">
      <input id="show_level-aa" type="checkbox">
      {{:: 'LEVEL_AA' | translate}}
    </label>
    <label for="show_level-aaa">
      <input id="show_level-aaa" type="checkbox">
      {{:: 'LEVEL_AAA' | translate}}
    </label>
  </div>
  <div>
    <label for="show_not-checked">
      <input id="show_level-a" type="checkbox">
      {{:: 'NOT_CHECKED' | translate}}
    </label>
    <label for="show_passed">
      <input id="show_passed" type="checkbox">
      {{:: 'PASSED' | translate}}
    </label>
    <label for="show_failed">
      <input id="show_failed" type="checkbox">
      {{:: 'FAILED' | translate}}
    </label>
    <label for="show_not-present">
      <input id="show_not-present" type="checkbox">
      {{:: 'NOT_CHECKED' | translate}}
    </label>
    <label for="show_cannot-tell">
      <input id="show_cannot-tell" type="checkbox">
      {{:: 'CANT_TELL' | translate}}
    </label>
  </div>
</fieldset>