<h2>{{ 'HD_CRITERIA' | translate }}&nbsp;<info-button
  label="{{'LABEL_INFO' | translate}}" target="inf_audit_criteria"></info-button>
</h2>
<info-field ref="inf_audit_criteria" exitto=""
button="{{'LABEL_CLOSE_INFO' | translate}}">
  <p>{{ 'INF_AUDIT_SAMPLE' | translate }}</p>
</info-field>

<div ng-repeat="p in principles">
  <h3><button-collapse target="p" property="showGuideline">
      {{ 'PRINCIPLE' | translate}} {{p.number}} {{p.title}}
  </button-collapse></h3>
  
  <div ng-repeat="g in p.guidelines" collapse="p.showGuideline">
  <h4><button-collapse target="g" property="showCritera">
      {{g.number}} {{g.title}}
  </button-collapse></h4>

  <success-criterion 
       ng-repeat="critSpec in g.criteria"
       ng-if="crit = getCritAssert(critSpec.uri)"
       collapse="g.showCritera"
       ng-init="opt = {editable: true, 
                 collapsed: true,
                 hideCollapseBtn: false,
                 showallpages: true}"
       options="opt"
       assert="crit"></success-criterion>
  </div>
</div>
