<h2>{{ 'HD_CRITERIA' | translate }}&nbsp;<info-button
  label="{{'LABEL_INFO' | translate}}" target="inf_audit_criteria"></info-button>
</h2>
<info-field ref="inf_audit_criteria" exitto=""
button="{{'LABEL_CLOSE_INFO' | translate}}">
  <p>{{ 'INF_AUDIT_SAMPLE' | translate }}</p>
</info-field>

<div ng-repeat="p in principles | whereCriteriaVisible: getCritAssert">
  <h3><button-collapse target="p" property="showGuideline">
      {{ 'PRINCIPLE' | translate}} {{p.number}} {{p.title}}
  </button-collapse></h3>
  
  <div ng-repeat="g in p.guidelines | whereCriteriaVisible: getCritAssert"
  collapse="p.showGuideline">
    <h4><button-collapse target="g" property="showCritera">
        {{g.number}} {{g.title}}
    </button-collapse></h4>
  
    <success-criterion 
    ng-init="opt = {editable: true, collapses: true};
             crit = getCritAssert(critSpec.uri)"
    ng-if="getCritAssert(critSpec.uri)"
    ng-repeat="critSpec in g.criteria"
    assertion="getCritAssert(critSpec.uri)" requirement="critSpec"
    collapse="g.showCritera" options="opt" ></success-criterion>

    <div class="to-top">
      <a href="" ng-click="toTop()">{{ 'TO_TOP' | translate }}</a>
    </div>
  </div>
</div>
