<p><a href="" ng-click="hideSample = !hideSample">
    Select what page(s) to work on
</a></p>

<ul class="sample" collapse="hideSample">
	<li class="row" ng-repeat="page in allPages()"
    ng-class="{active: page.selected}"
    ng-click="page.selected = !page.selected">

    <span class="col-sm-1">
      <input id="sample_select_{{$index}}" 
          type="checkbox" ng-model="page.selected">
    </span>
    <label class="col-sm-3" for="sample_select_{{$index}}">
      {{page.handle}}
    </label>

    <span class="col-sm-7">{{page.description}}</span>
	</li>
</ul>