<h2>Sampled pages</h2>
<p>--Some filter options go here--</p>
<button>Select all</button>
<button>Test selected</button>
<button>Complete selected</button>
<ol class="sample">
	<li class="row" ng-repeat="page in structuredSample.webpage">
		<label class="col-sm-6">
      <input type="checkbox" ng-model="page.tested">
			{{page.handle}}
		</label>
		<span class="col-sm-6" style="overflow:hidden;">
			{{page.description}}
		</span>
	</li>

	<li class="row" ng-repeat="page in randomSample.webpage">
    <label class="col-sm-6">
      <input type="checkbox" ng-model="page.tested">
      {{page.handle}}
    </label>
    <span class="col-sm-6" style="overflow:hidden;">
      {{page.description}}
    </span>
	</li>
</ol>