<h1>{{ setTitle( translate('HD_SAVE') ) }}</h1>

<p>{{ 'INTRO_SAVE' | translate }}</p>

<p><a download="{{exportFile}}"
      target="_blank" ng-href="{{exportUrl}}"
      class="btn btn-primary">
    {{ 'BTN_DOWNLOAD_DATA_FILE' | translate }}
</a></p>

<!-- <h2>Post the page</h2>
<p>...</p>

<form class="form-horizontal">
  <div class="form-group">
    <div class="col-sm-2 control-label"><label for="url_{{$id}}">
        Post page to a URL
    </label></div>
    <div class="col-sm-4">
      <input type="text" class="form-control" ng-model="url" id="url_{{$id}}" />
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
      <button class="btn btn-default" ng-click="postJson(url)">Post to URL</button>
    </div>
  </div>
</form> -->

<p><a href="javascript:window.history.back()">{{'BTN_BACK_TO_EVAL' | translate}}</a></p>