<footer role="complimentary" lang="en"
aria-label="Document info"
class="page-footer">
  <div>
    <p><strong>Status:</strong> Version 1.0 Beta 3, approved by <a href="http://www.w3.org/WAI/EO/">EOWG</a> – October 2014</p>
    <p>Development Team: Shadi Abou-Zahra, W3C/WAI (Project Lead); Wilco Fiers, <a href="https://www.accessibility.nl/english">accessibility.nl</a> (Design and development), and participants of the <a href="http://www.w3.org/WAI/EO/" shape="rect">Education and Outreach Working Group</a>.</p>
    <p>Developed with support from the <a href="http://www.w3.org/WAI/ACT/">WAI-ACT Project</a>, co-funded by the European Commission.</p>
    <p>Feedback welcome to <a href="https://github.com/w3c/wcag-em-report-tool/issues">GitHub Issues List</a> or e-mail to <a href="mailto:wai-eo-editors@w3.org">wai-eo-editors@w3.org</a> (a publicly archived list).</p>
    <div class="copyright">
      <p><a rel="Copyright" href="http://www.w3.org/Consortium/Legal/ipr-notice#Copyright">Copyright</a> © 2014 <a href="http://www.w3.org/"><abbr title="World Wide Web Consortium">W3C</abbr></a><sup>®</sup> (<a href="http://www.csail.mit.edu/"><abbr title="Massachusetts Institute of Technology">MIT</abbr></a>, <a href="http://www.ercim.org/"><abbr title="European Research Consortium for Informatics and Mathematics">ERCIM</abbr></a>, <a href="http://www.keio.ac.jp/">Keio</a>, <a href="http://ev.buaa.edu.cn/">Beihang</a>), usage policies apply.</p>
    </div><!-- ends copyright -->
  </div>
</footer>
