<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8" />
    <title></title>
    <base href="/" target="_self">
  </head>

  <body>

    <header>
      <div>
        <a href="http://w3.org/"><img alt="W3C" src="../assets/images/w3c.svg" width="73" height="50" /></a>
        <a href="http://w3.org/WAI/"><img alt="Web Accessibility Initiative" src="../assets/images/wai.svg" width="120" height="50" /></a>
      </div>
      <nav title="main menu">
        <ul>
          <li>
            <a href="#!/" target="_blank">
              New report
            </a>
          </li>
          <li>
            <a href="#!/open">
              Open
            </a>
          </li>
          <li>
            <a href="#!/save" title="Ctrl + S or ⌘ S">
              Save
            </a>
          </li>
          <li>
            <a href="#!/import" title="Start EARL report import wizzard">
              Import
            </a>
          </li>
          <li>
            <a href="#">
              Key resources
            </a>
            <ul lang="en">
              <li>
                <a target="_blank" href="http://www.w3.org/WAI/standards-guidelines/wcag/">
                  Web Content Accessibility Guidelines (WCAG)
                </a>
              </li>
              <li>
                <a target="_blank" href="http://www.w3.org/WAI/WCAG21/quickref/">
                  How to Meet WCAG 2.1 Quick Reference
                </a>
              </li>
              <li>
                <a target="_blank" href="http://www.w3.org/WAI/test-evaluate/conformance/wcag-em/">
                  WCAG Evaluation Methodology (WCAG-EM)
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">
              Language
            </a>
            <ul>
              <li lang="en">
                <a>
                  <span></span>
                  English </a>
              </li>
              <li lang="nl">
                <a>
                  <span></span>
                  Nederlands </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>

    <div>
      <ul>
        <li>
          <a>
            Start
            <span>(Active)</span></a>
        </li>
        <li>
          <a href="#!/evaluation/scope">
            1. Define Scope </a>
        </li>
        <li>
          <a href="#!/evaluation/explore">
            2. Explore Website </a>
        </li>
        <li>
          <a href="#!/evaluation/sample">
            3. Select Sample </a>
        </li>
        <li>
          <a href="#!/evaluation/audit">
            4. Audit Sample </a>
        </li>
        <li>
          <a href="#!/evaluation/report">
            5. Report Findings </a>
        </li>
        <li>
          <a href="#!/view_report">
            View Report </a>
        </li>
      </ul>
    </div>

    <main>
      <h1>WCAG-EM Report Tool</h1>
      <h2>
        Website Accessibility Evaluation Report Generator
      </h2>

      <h2><a href="#start1">What this tool does</a></h2>
      <div id="start1" tabindex="-1">
        <p>
          This tool helps you generate a report according to the
          <a href="http://www.w3.org/TR/WCAG-EM/">Website Accessibility Conformance Evaluation Methodology
            (WCAG-EM)</a>. It does not perform any accessibility checks. It helps you
          follow the steps of WCAG-EM, to generate a
          <a href="#!/view_report">structured report</a> from the input that
          you provide. It is designed for experienced evaluators who know
          <a href="http://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines (WCAG) 2</a>
          and are somewhat familiar with WCAG-EM. For an introduction to
          WCAG-EM, see the
          <a href="http://www.w3.org/WAI/test-evaluate/conformance/wcag-em/">WCAG-EM Overview</a>.
        </p>
        <p>
          <strong>Note:</strong> This tool does not automatically save the
          information that you enter. To save your data in a file locally on
          your computer, use Windows shortcut keys Ctrl+S or Mac shortcut
          keys ⌘S to open the Save dialog. (Or the 'Save' link at the top of
          the page will open the Save Evaluation Report page and from there
          the 'Save data file locally to your computer' link will open the
          Save dialog.)
        </p>
      </div>

      <h2>
        <a href="#start2">
          How this tool works
        </a>
      </h2>

      <ul id="start2" tabindex="-1">
        <li>
          All functionality provided by this tool is now loaded and
          running locally in your web browser. You don't need an Internet
          connection beyond this point. When you close your web browser
          window, any unsaved data is lost.
        </li>
        <li>
          All input that you provide through this tool is recorded as JSON
          data in the background (in your web browser, not on any server).
          You can Save periodically as you work to avoid losing data if
          your web browser closes.
        </li>
        <li>
          You can save partially-complete reports and work on them later.
          To reload a saved file, use the 'Open' link at the top and find
          the file that you previously saved.
        </li>
        <li>
          Links that are not part of the navigation or functionality
          (links to external resources) open in a new web browser windows.
        </li>
      </ul>

      <h2>
        <a href="#start3">
          Tips for using this tool
        </a>
      </h2>

      <ul id="start3" tabindex="-1">
        <li>
          You can go back and forth between the steps in any order. None
          of the fields are required.
        </li>
        <li>
          To get more information about a field, select the
          <span></span><span>Info expand</span> icon next to the field
          label.
        </li>
        <li>
          The tool provides your report as HTML and CSS files. You can
          download these files from the 'View Report' page. You can then
          change the report content and visual design.
        </li>
        <li>
          You can include in your report WCAG 2 success criteria beyond
          the conformance target. For example, the website is only
          required to meet Level AA, yet you want to also include Level
          AAA success criteria in the report. In step 4, use the level
          filter to show higher level criteria. Any criteria with a result
          will always be included in the report.
        </li>
      </ul>

      <div>
        <button type="button">
          Next step: Define Scope
        </button>
      </div>
    </main>


    <script src="../app.js"></script>
  </body>

</html>
