<div class="wert-head" ng-controller="NavigationCtrl">
  <div style="background-color: #eed009; color: black;padding: 1em; text-align: center;">
    <p style="margin: 0">
    A redesign of this WCAG-EM Report Tool was published in September 2021. You can find it on <a href="https://w3.org/WAI/eval/report-tool" style="color: #003366">https://w3.org/WAI/eval/report-tool</a> (<a href="https://github.com/w3c/wai-wcag-em-report-tool/wiki/Changelog:-What's-new-in-the-2021-redesign-of-the-WCAG-EM-Report-Tool" style="color: #003366">changelog of revisions</a>).
    </p>
  </div>
  <div class="navbar navbar-default">
    <div class="branding">
      <div class="nav">
        <span class="w3c"><a href="http://w3.org/">
          <img alt="W3C" width="73" height="50" src="images/w3c.svg">
        </a></span><span class="wai"><a href="http://w3.org/WAI/">
          <img alt="Web Accessibility Initiative" width="120" height="50"
          src="images/wai.svg">
        </a></span>
      </div>
    </div>


    <ul class="nav navbar-nav"
    role="navigation" aria-label="{{ 'NAV.MENU' | translate}}">
      <li><a href="#!/" target="_blank">
          <span class="glyphicon glyphicon-file"></span>&nbsp;
          {{ 'NAV.MENU_NEW' | translate }}
      </a></li>

      <li><a href="#!/open">
          <span class="glyphicon glyphicon-folder-open"></span>&nbsp;
          {{ 'NAV.MENU_OPEN' | translate }}
      </a></li>

      <li><a href="#!/save" title="{{ 'NAV.MENU_SAVE_TITLE' | translate}}">
          <span class="glyphicon glyphicon-floppy-save"></span>&nbsp;
          {{ 'NAV.MENU_SAVE' | translate }}
      </a></li>

      <li><a href="#!/import" title="{{ 'NAV.MENU_IMPORT_TITLE' | translate}}">
          <span class="glyphicon glyphicon-import"></span>&nbsp;
          {{ 'NAV.MENU_IMPORT' | translate }}
      </a></li>

      <li class="dropdown" dropdown>
        <a href="#" class="dropdown-toggle" dropdown-toggle>
          <span class="glyphicon glyphicon-link"></span>&nbsp;
          {{ 'NAV.MENU_RESOURCES' | translate }}
          <b class="caret"></b>
        </a>

        <ul class="dropdown-menu" lang="en">
          <li><a target="_blank"
            href="http://www.w3.org/WAI/standards-guidelines/wcag/">
              Web Content Accessibility Guidelines (WCAG)
          </a></li>
          <li><a target="_blank"
            href="http://www.w3.org/WAI/WCAG21/quickref/">
              How to Meet WCAG 2.1 Quick Reference
          </a></li>
          <li><a target="_blank"
            href="http://www.w3.org/WAI/test-evaluate/conformance/wcag-em/">
              WCAG Evaluation Methodology (WCAG-EM)
          </a></li>
      </ul>  </li>
      <li class="dropdown" dropdown>
        <a href="#" class="dropdown-toggle" dropdown-toggle>
          <span class="glyphicon glyphicon-book"></span>&nbsp;
          {{ 'NAV.MENU_LANGUAGE' | translate }}
          <b class="caret"></b>
        </a>

        <ul class="dropdown-menu lang-menu">
          <li ng-repeat="language in languages" lang="{{language.code}}">
            <a ng-if="language.code === currentLang">
              <span class="glyphicon glyphicon-ok"></span>
              <!-- show current?? -->
              {{language.localName}}
            </a>

            <a ng-if="language.code !== currentLang"
            href="" ng-click="changeLanguage(language.code)">
              <span class="glyphicon glyphicon-none"></span>
              {{language.localName}}
            </a>
          </li>
      </ul>  </li>
    </ul>
  </div>
</div>
