<nav class="navbar navbar-default">
 	<ul class="nav navbar-nav">
 		<li><a href="#/audit/start">{{ 'NAV_START' | translate }}</a></li>
 		<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
 				{{ 'NAV_LINKS' | translate }} <b class="caret"></b></a>
			<ul class="dropdown-menu">
	 			<li><a href="">WCAG 2.0</a></li>
	 			<li><a href="">WCAG How to meet</a></li>
	 			<li><a href="">WCAG-EM</a></li>
		</ul>  </li>
 		<li><a href="#/import">{{ 'NAV_IMPORT' | translate }}</a></li>
 		<li><a href="#/export">{{ 'NAV_EXPORT' | translate }}</a></li>
 		<li><a href="#/help">{{ 'NAV_HELP' | translate }}</a></li>
 	</ul>
</nav>