<div ng-include src="'views/messages.html'"></div>

<main>
<h1>{{ setTitle( translate('OPEN.TITLE') ) }}</h1>

<p>{{ 'OPEN.INTRO' | translate }}</p>

<div class="alert alert-info appear" ng-if="fileFeedback.posted">
  <p>{{ 'OPEN.MSG_LOADING' | translate }}</p>
</div>
<div class="alert alert-danger appear" ng-if="fileFeedback.failure">
  <p>{{fileFeedback.failure}}</p>
</div>

<p><label for="load_json" class="btn btn-primary"
  ng-class="{'focus': fileHasFocus }" id="file_label">
  {{ 'OPEN.LABEL_SELECT_FILE' | translate }}
</label></p>

<input type="file" class="sr-only" id="load_json"
  ng-focus="fileHasFocus = true" ng-blur="fileHasFocus = false"
  onchange="var elm = angular.element(this);
            elm.scope().loadFile(this.files[0])" />

<div class="alert alert-danger" ng-if="showError">
  <p>{{ 'OPEN.' + showError | translate }}
</div>

<p><a href="javascript:window.history.back()">{{'NAV.BTN_BACK_TO_EVAL' | translate}}</a></p>
</main>