<div ng-include src="'views/messages.html'"></div>
<div ng-include src="'views/audit/stepbar.html'"></div>

<h1>{{:: setTitle( translate('HD_REPORT') ) }}</h1>

<p>{{:: 'INTRO_REPORT' | translate }}</p>

<div class="container save-panel">
  <div class="panel panel-default">
    <div class="panel-heading">
     {{:: 'DOWNLOAD_REPORT' | translate}}
    </div>
    <ul class="list-group">
      <li class="list-group-item"><a download="{{exportHtmlFile}}"
        ng-click="saveHtmlBlobIE()" target="_blank" id="html_download_link">
          {{:: 'BTN_SAVE_HTML' | translate}}
      </a></li>
      <li class="list-group-item"><a download="{{exportJsonFile}}"
        ng-click="downloadJsonStart()"
        target="_blank" href="{{exportJsonUrl}}">
          {{:: 'BTN_SAVE_JSON' | translate}}
      </a></li>
    </ul>
  </div>
</div>

<full-report></full-report>