<div ng-include src="'views/navigation.html'"></div>

<h1>MyWebsite WCAG 2.0 Evaluation Report</h1>
<p><em>By Wilco Fiers, 12th of April 2014</em></p>
<p><em>Commissioned by Accessibility Foundation</em></p>

<h2>Summary</h2>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>

<p>Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.</p>


<h2>Test core</h2>
<div ng-include src="'views/report/score.html'"></div>

<h2>Assistive technology support</h2>
<div ng-include src="'views/report/at-support.html'"></div>

<div ng-include src="'views/report/findings.html'"></div>

<h2>Sample</h2>
<div ng-include src="'views/report/sample.html'"></div>

<h2>Documentation</h2>
<ul>
  <li><a>Web Content Accessibility Guidelines 2.0</a></li>
  <li><a>WCAG Evaluation Methodology</a></li>
</ul>