<p><a href="#/report" class="btn btn-primary btn-lg">
	{{'BTN_SAVE_HTML' | translate}}
</a></p>
<p><a href="#/report" class="btn btn-default btn-lg">
	{{'BTN_SAVE_JSON' | translate}}
</a></p>

<div id="final_report">
	<h1>{{report.title}}</h1>
	<p><em>
		{{'BY' | translate }} {{report.creator}},
		{{report.date | date: shortDate}}
	</em></p>
	<p><em>
		{{'COMMISION_BY' | translate }} {{report.commissioner}}
	</em></p>

	<h2>{{'HD_SUMMARY'| translate}}</h2>
	{{report.summary}}

	<h2>{{'HD_SCOPE' | translate }}</h2>
	<div ng-include src="'views/report/scope.html'"></div>

	<h2>{{'HD_SCORE' | translate }}</h2>
	<div ng-include src="'views/report/score.html'"></div>

	<h2>{{'HD_SPECIFICS' | translate }}</h2>
	{{report.specifics}}

	<div ng-include src="'views/report/findings.html'"></div>

	<h2>{{'HD_SAMPLE' | translate }}</h2>
	<div ng-include src="'views/report/sample.html'"></div>

	<h2>{{'HD_DOCS' | translate }}</h2>
	<ul lang="en">
	  <li><a href="http://www.w3.org/TR/WCAG20/">Web Content 
	  		Accessibility Guidelines 2.0
	  </a></li> <li><a href="http://www.w3.org/WAI/WCAG20/quickref/">
	  		How to meet WCAG 2.0
	  </a></li> <li><a href="http://www.w3.org/TR/WCAG-EM/">
	  		WCAG Evaluation Methodology
	  </a></li>
	</ul>
</div>