<div ng-include src="'views/messages.html'"></div>

<h1>{{ setTitle( translate('SAVE.TITLE') ) }}</h1>

<p>{{ 'SAVE.INTRO' | translate }}</p>

<p><a download="{{exportFile}}" ng-click="downloadStart()"
      target="_blank" ng-href="{{exportUrl}}"
      class="btn btn-primary-invert download-link">
    {{ 'SAVE.BTN_DOWNLOAD_DATA_FILE' | translate }}
</a></p>

<p ng-bind-html="'SAVE.TIPS' | translateAndLink
: ['SAVE.TIPS_0', '#/report']"></p>

<h2>{{ 'SAVE.HD_POST_TO_URL' | translate }}</h2>

<form class="form-horizontal">

  <p>{{ 'SAVE.INTRO_POST_TO_URL' | translate}}</p>

  <div class="form-group">
    <div class="col-sm-2 control-label"><label for="url_{{$id}}">
        {{ 'SAVE.LABEL_POST_TO_URL' | translate}}
    </label></div>
    <div class="col-sm-4">
      <input type="text" class="form-control" ng-model="postSettings.url" id="url_{{$id}}" />
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
      <label>
        <input type="checkbox" ng-model="postSettings.autosave"
        ng-change="updateSettings()" />
        {{ 'SAVE.ENABLE_AUTOSAVE' | translate }}
      </label>
    </div>
  </div>

  <div class="alert alert-info appear" ng-if="posted">
    <p>{{ 'SAVE.MSG_SAVING' | translate }}</p>
  </div>
  <div class="alert alert-success appear" ng-if="success">
    <p>{{ 'SAVE.MSG_SAVED_SUCCESS' | translate }}</p>
  </div>
  <div class="alert alert-danger appear" ng-if="failure">
    <p>{{ 'SAVE.MSG_SERVER_ERROR' | translate}}<p>
    <p ng-if="failure === true">{{ 'SAVE.MSG_PROBLEM_CONNECTING' | translate }}</p>
    <p ng-if="failure !== true">{{ 'SAVE.MSG_BAD_RESPONSE' | translate }}: {{failure}}</p>
  </div>

  <div class="form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
      <button class="btn btn-default" ng-click="postJson()">
        {{ 'SAVE.BTN_POST_TO_URL' | translate }}
      </button>
    </div>
  </div>
</form>

<p><a href="javascript:window.history.back()">{{'NAV.BTN_BACK_TO_EVAL' | translate }}</a></p>
