<div ng-include src="'views/messages.html'"></div>

<main>
<h1>{{ setTitle( translate('SAVE.TITLE') ) }}</h1>

<p>{{ 'SAVE.INTRO' | translate }}</p>

<p><a download="{{exportFile}}" ng-click="downloadStart()"
      target="_blank" ng-href="{{exportUrl}}"
      class="btn btn-primary download-link">
    {{ 'SAVE.BTN_DOWNLOAD_DATA_FILE' | translate }}
</a></p>

<p ng-bind-html="'SAVE.TIPS' | translate: {
  link_report: '/#!/view_report'
}"></p>

<p><a href="javascript:window.history.back()">{{'NAV.BTN_BACK_TO_EVAL' | translate }}</a></p>
</main>
