<div class="panel panel-default">
  <div class="panel-heading">
    <p>
      <strong>{{desc.number}} {{desc.title}}:</strong>
      <span class="badge">Level {{desc.level}}</span>
      <span class="pull-right">
        Details ({{assertion.testCaseAsserts.length}}):
  	    <button ng-click="addDetails(assertion)" class="button">
  	      Add
  	    </button>
        <button ng-click="isVisible = !isVisible" class="button"
            ng-disabled="assertion.testCaseAsserts.length === 0">
          <span ng-if="isVisible">Collapse</span>
          <span ng-if="!isVisible">Expend</span>
        </button>
  	 </span>
     </p>
     <p class="">
      <label class="col-sm-1" for="result_outcome">
        Outcome
      </label>
      <select class="col-sm-1" id="result_outcome"
              ng-model="assertion.outcome">
        <option ng-repeat="outcome in outcomes" value="{{outcome.id}}">
          {{outcome.name}}
        </option>
      </select>

      <label class="col-sm-1" for="result_cause">
        Findings:
      </label>
      <input class="col-sm-9" id="result_cause"
             ng-model="assertion.info" type="text">
    </p><br clear />
  </div>
  <div collapse="!isVisible">
    <sc-result ng-repeat="tcAssert in assertion.testCaseAsserts" />
  </div>
</div>
