<div>
  <div class="row" style="padding:0 1em;">
    <label class="col-sm-1">Outcome</label>
    <select class="col-sm-1"  ng-model="tcAssert.outcome">
        <option value="earl:pass">Pass</option>
        <option value="earl:fail">Fail</option>
        <option value="wcagem:not_present">Not Present</option>
    </select>
    <label class="col-sm-1">Cause:</label>
    <input class="col-sm-8" ng-model="tcAssert.testCase" type="text">

    <div class="col-sm-1">
      <div class="dropdown"><button href="" class="button"><span class="glyphicon glyphicon-cog"></span>
      <span class="">Opt.</span>
      </button>
      <ul class="dropdown-menu">
        <li><a>Duplicate result</a></li>
        <li><a>Clear result</a></li>
        <li><a>Add info field</a></li>
        <li><a>Add private comment field</a></li>
        <li><a>Set criterion</a></li>
        <li><a></a></li>
      </ul>
    </div>
  </div>
  <div style="padding:0 1em;">
    <textarea ng-model="tcAssert.description"
        class="form-control"></textarea>
  </div>
  <div class="row" style="padding:0 1em;">
    <div class="col-xs-12">
    <input list="{{sampleListId}}" class="form-control" type="text"   placeholder="Sample page" title="Sample page">
    </div>
  </div>
</div>