<div ng-include src="'views/audit/stepbar.html'"></div>

<h1>{{ 'HD_START' | translate }}</h1>

<p ng-bind-html="'INTRO_START_1' | translateAndLink
: ['INTRO_START_1_0', 'http://www.w3.org/TR/WCAG-EM/']"></p>

<p ng-bind-html="'INTRO_START_2' | translateAndLink
: ['INTRO_START_2_0', '#/export']"></p>

<ul class="nav nav-pills pull-right">
  <li class="default"><a href="#/audit/scope">
      {{ 'BTN_CONTINUE_EVAL' | translate }}
      <span class="glyphicon glyphicon-chevron-right"></span>
  </a></li>
  <li class="active"><a href="#/audit/test">
      {{ 'BTN_START_EVAL' | translate }}
      <span class="glyphicon glyphicon-chevron-right"></span>
  </a></li>
</ul>
